{% extends "base.html" %}
{% load i18n %}

{% block head %}
{{ wizard.form.media }}
{% endblock %}

{% block body %}

<!--Start Content Wrapper-->
<div class="content_wrapper">
    <div class="container_24">
        <div class="grid_24">
            <div class="grid_17 alpha">
                <!--Start Content-->
                <div class="content">
                    <div id="add_post">
                        <h1>Add New Classified Ads</h1>
                        
                        <script>
                        jQuery(document).ready(function(){
                            var textbox_category = jQuery("#id_ad_category-category");
                            textbox_category.val() == null;
                            
                            // Select children of main category
                             $('select#id_ad_maincategory').change(function () {
                                 var optionSelected = $(this).find("option:selected");
                                 var category_name = optionSelected.text();
                                 
                                 // Set the selected category ID to the hidden textbox
                                 $("#id_ad_category-category").val($('select#id_ad_maincategory').val());

                                 data = {'cat' : category_name };
                                 ajax('/ads/getsubcategories', data, function(result) {
                                     console.log(result);
                                     $("#id_ad_subcategory option").remove();
                                     $("#id_ad_subcategory").append('<option value="-1">Select one</option>');
                                     for (var i = result.length - 1; i >= 0; i--) {
                                         $("#id_ad_subcategory").append('<option value="'+ result[i].id +'">'+ result[i].title +'</option>');
                                     };
                                 });
                             });
                             
                             // Select children of subcategory
                             $('select#id_ad_subcategory').change(function () {
                                 var subOptionSelected = $(this).find("option:selected");
                                 var subcat_name = subOptionSelected.text();
                                 
                                 // Set the selected category ID to the hidden textbox
                                 $("#id_ad_category-category").val($('select#id_ad_subcategory').val());

                                 data = {'cat' : subcat_name };
                                 ajax('/ads/getsubcategories', data, function(result) {
                                     $("#id_ad_subsubcategory option").remove();
                                     $("#id_ad_subsubcategory").append('<option value="-1">Select one</option>');
                                     for (var i = result.length - 1; i >= 0; i--) {
                                         $("#id_ad_subsubcategory").append('<option value="'+ result[i].id +'">'+ result[i].title +'</option>');
                                     };
                                 });
                             });
                             
                             // Set final subcategory chosen
                             $('select#id_ad_subsubcategory').change(function () {
                                // Set the selected category ID to the hidden textbox
                                 $("#id_ad_category-category").val($('select#id_ad_subsubcategory').val());
                             });
                             
                         });
                        </script>
                        
                        
                        
                        
                        
                        <p>Step {{ wizard.steps.step1 }} of {{ wizard.steps.count }}</p>
                        <form name="add_post_form" 
                              id="Add_post_form"
                              {% if wizard.form.instance.pk %}action="{% url 'update_advert' wizard.form.instance.pk %}"{% else %}action="{% url 'new_advert' %}"{% endif %} 
                              method="post" 
                              enctype="multipart/form-data">
                              
                        {% csrf_token %}
                        
                        {% if wizard.form.errors %}
	                        <!-- Error messaging -->
	                        <div id="errors">
		                        <div class="inner">
			                        <p>There were some errors in the information you entered. Please correct the following:</p>
			                        {{ wizard.form.non_field_errors }}
			                        <ul>
				                        {% for field in wizard.form %}
					                        {% if field.errors %}<li>{{ field.label }}: {{ field.errors|striptags }}</li>{% endif %}
				                        {% endfor %}
			                        </ul>
		                        </div>
	                        </div>
	                        <!-- /Error messaging -->
                            {% endif %}
                        
                        <table>
                        {{ wizard.management_form }}
                        {% if wizard.form.forms %}
                            {{ wizard.form.management_form }}
                            {% for form in wizard.form.forms %}
                                {{ form }}
                            {% endfor %}
                        {% else %}
                            
                                                        
                            {{ img_formset.management_form }}
                                {% for form in img_formset %}
                                {{ form.id }}
                                <div class="form_row">
                                    <div class="label">
                                        <label for="cc_image1">Upload Ad Image {{ forloop.counter }}</label>
                                    </div>
                                    <div class="row">                       
                                        <div style="margin-bottom: 0;">                                        
                                            <div class="upload_button_div" style="display: inline;">
                                                {{ form.image }}
                                            </div> {{ form.errors }}
                                            {% if img_formset.can_delete %}{{ form.DELETE }} {{ form.DELETE.label_tag }}{% endif %}
                                            <div class="clear"></div>
                                            <p class="description">Upload Image for your Ad</p>
                                        </div>                        
                                    </div>
                                </div>
                                {% endfor %}
                            
                           
                            
                             
                                
                        {% endif %}
                        </table>
                        {% if wizard.steps.prev %}
                        <button name="wizard_goto_step" type="submit" value="{{ wizard.steps.first }}">{% trans "first step" %}</button>
                        <button name="wizard_goto_step" type="submit" value="{{ wizard.steps.prev }}">{% trans "prev step" %}</button>
                        {% endif %}
                        <input type="submit" value="{% trans "Submit" %}"/>
                        </form>



                    </div>
                    
                </div>
                <!--End Content-->
            </div>
            <div class="grid_7 omega">
            {% if user.is_authenticated %}
                {% include 'sidebar_dashboard.html' %}
            {% else %}
                {% include 'sidebar.html' %}
            {% endif %}
            </div>
        </div>
        <div class="clear"></div>
    </div>
</div>
<!--End Content Wrapper-->
{% endblock %}



