{% extends "base.html" %}
{% load i18n %}

{% block head %}
{{ wizard.form.media }}
{% endblock %}

{% block body %}

<!--Start Content Wrapper-->
<div class="content_wrapper">
    <div class="container_24">
        <div class="grid_24">
            <div class="grid_17 alpha">
                <!--Start Content-->
                <div class="content">
                    <div id="add_post">
                        <h1>Add New Classified Ads</h1>
                        
                        <script>
                        jQuery(document).ready(function(){
                            var textbox_category = jQuery("#id_ad_category");
                            textbox_category.val() == null;
                            
                            // Select children of main category
                             $('select#id_ad_maincategory').change(function () {
                                 var optionSelected = $(this).find("option:selected");
                                 var category_name = optionSelected.text();
                                 
                                 // Set the selected category ID to the hidden textbox
                                 $("#id_advert-category").val($('select#id_ad_maincategory').val());

                                 data = {'cat' : category_name };
                                 ajax('/ads/getsubcategories', data, function(result) {
                                     console.log(result);
                                     $("#id_ad_subcategory option").remove();
                                     $("#id_ad_subcategory").append('<option value="-1">Select one</option>');
                                     for (var i = result.length - 1; i >= 0; i--) {
                                         $("#id_ad_subcategory").append('<option value="'+ result[i].id +'">'+ result[i].title +'</option>');
                                     };
                                 });
                             });
                             
                             // Select children of subcategory
                             $('select#id_ad_subcategory').change(function () {
                                 var subOptionSelected = $(this).find("option:selected");
                                 var subcat_name = subOptionSelected.text();
                                 
                                 // Set the selected category ID to the hidden textbox
                                 $("#id_advert-category").val($('select#id_ad_subcategory').val());

                                 data = {'cat' : subcat_name };
                                 ajax('/ads/getsubcategories', data, function(result) {
                                     $("#id_ad_subsubcategory option").remove();
                                     $("#id_ad_subsubcategory").append('<option value="-1">Select one</option>');
                                     for (var i = result.length - 1; i >= 0; i--) {
                                         $("#id_ad_subsubcategory").append('<option value="'+ result[i].id +'">'+ result[i].title +'</option>');
                                     };
                                 });
                             });
                             
                             // Set final subcategory chosen
                             $('select#id_ad_subsubcategory').change(function () {
                                // Set the selected category ID to the hidden textbox
                                 $("#id_advert-category").val($('select#id_ad_subsubcategory').val());
                             });
                             
                         });
                        </script>
                        
                        <script>
                        jQuery(document).ready(function(){
                            // Show/Hide the Price text input
                            $("input:radio[name$='advert-adtype']").click(function() {
                                if($(this).attr('id') == 'id_advert-adtype_0') {
                                    $('#div_price').show();
                                } else {
                                    $('#div_price').hide();
                                }
                            });
                        });
                        </script>
                        
                        <script type="text/javascript">
                            jQuery(document).ready(function(){
                                var adForm = jQuery("#Add_post_form"); 
                                var cc_title = jQuery("#id_advert-title");   
                                var cc_desc = jQuery("#id_advert-description");
                                var cc_desc_error = jQuery(".desc_error");
                                function validate_title(){
                                    if(cc_title.val() == ''){
                                        cc_title.addClass("error");
                                        cc_title.attr("placeholder", "Please enter title");
                                        cc_title.css('border', 'solid 1px red');
                                        cc_title.css('background-color', '#ffece8');
                                        return false;
                                    }else{
                                        cc_title.removeClass("error");   
                                        cc_title.css('border', 'none');
                                        cc_title.css('background-color', '');
                                        return true;
                                    }
                                }
                                cc_title.blur(validate_title);
                                cc_title.keyup(validate_title);
                                function validate_desc(){
                                    if(cc_desc.val() == ""){
                                        cc_desc.addClass("error");
                                        cc_desc.css('border', 'solid 1px red');
                                        cc_desc_error.addClass("error");
                                        cc_desc_error.text("Please enter description");
                                        return false;
                                    }else{
                                        cc_desc.removeClass("error");
                                        cc_desc_error.removeClass("error");
                                        cc_desc_error.text("");
                                        cc_desc.css('border', 'none');
                                        return true;
                                    }
                                }
                                cc_desc.blur(validate_desc);
                                cc_desc.keyup(validate_desc);
                            
                                adForm.submit(function()
                                {
                                    alert('VALUE: ' + document.getElementById("id_advert-category").value);
                                    if(validate_title() & validate_desc())
                                    {
                                        return true;
                                    }
                                    else
                                    {
                                        return false;
                                    }
                                });
                            });
                        </script>
                        
                        <p>Step {{ wizard.steps.step1 }} of {{ wizard.steps.count }}</p>
                        <form name="add_post_form" 
                              id="Add_post_form"
                              {% if wizard.form.instance.pk %}action="{% url 'update_advert' wizard.form.instance.pk %}"{% else %}action="{% url 'new_advert' %}"{% endif %} 
                              method="post" 
                              enctype="multipart/form-data">
                              
                        {% csrf_token %}
                        
                        {% if wizard.form.errors %}
	                        <!-- Error messaging -->
	                        <div id="errors">
		                        <div class="inner">
			                        <p>There were some errors in the information you entered. Please correct the following:</p>
			                        {{ wizard.form.non_field_errors }}
			                        <ul>
				                        {% for field in wizard.form %}
					                        {% if field.errors %}<li>{{ field.label }}: {{ field.errors|striptags }}</li>{% endif %}
				                        {% endfor %}
			                        </ul>
		                        </div>
	                        </div>
	                        <!-- /Error messaging -->
                            {% endif %}
                        
                        <table>
                        {{ wizard.management_form }}
                        {% if wizard.form.forms %}
                            {{ wizard.form.management_form }}
                            {% for form in wizard.form.forms %}
                                {{ form }}
                            {% endfor %}
                        {% else %}
                            
                            <div class="label">
                                <label>Ad Title{% if wizard.form.title.field.required %}<span class="required">*</span>{% endif %}</label>
                            </div>
                            <div class="row">
                                {{ wizard.form.title }}
                                <p class="description">Enter a descriptive title e.g. Cute four months old bulldogs for sale.</p>
                            </div>                        
                            
                            <div class="label">
                                <label for="cc_desc">Description{% if wizard.form.description.field.required %}<span class="required">*</span>{% endif %}</label>
                            </div>
                            <div class="row">                                    
                                {{ wizard.form.description }}
                                <span class="desc_error"></span>
                            </div>
                            
                            <div class="label">
                                <label>Location</label>
                            </div>
                            <div class="row">
                                {{ wizard.form.location }}                                    
                            </div>
                            
                            <div class="label">
                                <label>Ad Type</label>
                            </div>
                            <div class="row">
                                {{ wizard.form.adtype }}                                    
                            </div>
                            
                            <div id="div_price">
                                <div class="label">
                                    <label>Price (KES)</label>
                                </div>
                                <div class="row">
                                    {{ wizard.form.price }}                                    
                                </div>
                            </div> 
                                
                        {% endif %}
                        </table>
                        {% if wizard.steps.prev %}
                        <button name="wizard_goto_step" type="submit" value="{{ wizard.steps.first }}">{% trans "first step" %}</button>
                        <button name="wizard_goto_step" type="submit" value="{{ wizard.steps.prev }}">{% trans "prev step" %}</button>
                        {% endif %}
                        <input type="submit" value="{% trans "Submit" %}"/>
                        </form>



                    </div>
                    
                </div>
                <!--End Content-->
            </div>
            <div class="grid_7 omega">
            {% if user.is_authenticated %}
                {% include 'sidebar_dashboard.html' %}
            {% else %}
                {% include 'sidebar.html' %}
            {% endif %}
            </div>
        </div>
        <div class="clear"></div>
    </div>
</div>
<!--End Content Wrapper-->
{% endblock %}



