{% extends "base.html" %}
{% load staticfiles %}

{% block head_title %}Dashboard{% endblock %}

{% block body %}

<!--Start Content Wrapper-->
<div class="content_wrapper">
    <div class="container_24">
        <div class="grid_24">
            <div class="grid_17 alpha">
                <!--Start Content-->
                <div class="content" id="dashboard">
                    
                    <div class="box-head"><h2>Your Ads</h2></div>
                    <div class="box-content no-pad">
                        <table class="display dataTable">
                            <thead>                                   
                                <tr>
                                    <th>Ad Title</th>
                                    <th>Views</th>
                                    <th>Status</th>
                                    <th>Options</th>
                                </tr>
                            </thead>
                            <tbody>
                            {% if adverts %}
                                {% for advert in adverts %}
                                <tr class="{% if forloop.counter|divisibleby:2 %}even{% else %}odd{% endif %}">
                                    <td>{{ advert.title }}</td>
                                    <td>{{ advert.adverthitcounts.count }} Views</td>
                                    <td>{{ advert.get_status_display }}</td>
                                    <td>
                                        <a href="{% url 'update_advert' advert.id %}" title="Edit Ad"><img src="{% static 'images/pencil.png' %}"/></a>&nbsp; 
                                        <a href="#" title="Delete Ad"><img src="{% static 'images/cross.png' %}"/></a>
                        
                                    </td>
                                </tr>
                                {% endfor %}
                            {% else %}
                                <tr>
                                    <td colspan="4">
                                        <p>You currently have no ads.</p>   
                                    </td>
                                </tr>
                            {% endif %}                                           
                            </tbody>
                        </table>
                        <p></p>
                    </div>
                    <div class="clear"></div>
                </div>
                <!--End Content-->
            </div>
            <div class="grid_7 omega">
                {% include 'sidebar_dashboard.html' %}    
            </div>
        </div>
        <div class="clear"></div>
    </div>
</div>
<!--End Content Wrapper-->                    

{% endblock %}
