{% extends "base.html" %}

{% block head_title %}Add a new listing{% endblock %}

{% block body %}

<!--Start Content Wrapper-->
<div class="content_wrapper">
    <div class="container_24">
        <div class="grid_24">
            <div class="grid_17 alpha">
                <!--Start Content-->
                <div class="content">
                    <div id="add_post">                        
                        
                        <script>
                        jQuery(document).ready(function(){
                            var textbox_category = jQuery("#id_ad_category");
                            textbox_category.val() == null;
                            
                            // Select children of main category
                             $('select#id_ad_maincategory').change(function () {
                                 var optionSelected = $(this).find("option:selected");
                                 var category_name = optionSelected.text();
                                 
                                 // Set the selected category ID to the hidden textbox
                                 $("#id_category").val($('select#id_ad_maincategory').val());

                                 data = {'cat' : category_name };
                                 ajax('/ads/getsubcategories', data, function(result) {
                                     console.log(result);
                                     $("#id_ad_subcategory option").remove();
                                     $("#id_ad_subcategory").append('<option value="-1">Select one</option>');
                                     for (var i = result.length - 1; i >= 0; i--) {
                                         $("#id_ad_subcategory").append('<option value="'+ result[i].id +'">'+ result[i].title +'</option>');
                                     };
                                 });
                             });
                             
                             // Select children of subcategory
                             $('select#id_ad_subcategory').change(function () {
                                 var subOptionSelected = $(this).find("option:selected");
                                 var subcat_name = subOptionSelected.text();
                                 
                                 // Set the selected category ID to the hidden textbox
                                 $("#id_category").val($('select#id_ad_subcategory').val());

                                 data = {'cat' : subcat_name };
                                 ajax('/ads/getsubcategories', data, function(result) {
                                     $("#id_ad_subsubcategory option").remove();
                                     $("#id_ad_subsubcategory").append('<option value="-1">Select one</option>');
                                     for (var i = result.length - 1; i >= 0; i--) {
                                         $("#id_ad_subsubcategory").append('<option value="'+ result[i].id +'">'+ result[i].title +'</option>');
                                     };
                                 });
                             });
                             
                             // Set final subcategory chosen
                             $('select#id_ad_subsubcategory').change(function () {
                                // Set the selected category ID to the hidden textbox
                                 $("#id_category").val($('select#id_ad_subsubcategory').val());
                             });
                             
                         });
                        </script> 
                        
                        <script>
                        jQuery(document).ready(function(){
                            // Show/Hide the Price text input
                            $("input:radio[name$='adtype']").click(function() {
                                if($(this).attr('id') == 'id_adtype_0') {
                                    $('#div_price').show();
                                } else {
                                    $('#div_price').hide();
                                }
                            });
                        });
                        </script>                  

                        <h1>Add New Classified Ads</h1>
                        <script type="text/javascript">
                            jQuery(document).ready(function(){
                                var adForm = jQuery("#Add_post_form"); 
                                var cc_title = jQuery("#id_title");   
                                var cc_desc = jQuery("#id_description");
                                var cc_desc_error = jQuery(".desc_error");
                                function validate_title(){
                                    if(cc_title.val() == ''){
                                        cc_title.addClass("error");
                                        cc_title.attr("placeholder", "Please enter title");
                                        cc_title.css('border', 'solid 1px red');
                                        cc_title.css('background-color', '#ffece8');
                                        return false;
                                    }else{
                                        cc_title.removeClass("error");   
                                        cc_title.css('border', 'none');
                                        cc_title.css('background-color', '');
                                        return true;
                                    }
                                }
                                cc_title.blur(validate_title);
                                cc_title.keyup(validate_title);
                                function validate_desc(){
                                    if(cc_desc.val() == ""){
                                        cc_desc.addClass("error");
                                        cc_desc.css('border', 'solid 1px red');
                                        cc_desc_error.addClass("error");
                                        cc_desc_error.text("Please enter description");
                                        return false;
                                    }else{
                                        cc_desc.removeClass("error");
                                        cc_desc_error.removeClass("error");
                                        cc_desc_error.text("");
                                        cc_desc.css('border', 'none');
                                        return true;
                                    }
                                }
                                cc_desc.blur(validate_desc);
                                cc_desc.keyup(validate_desc);
                            
                                adForm.submit(function()
                                {
                                    if(validate_title() & validate_desc())
                                    {
                                        return true;
                                    }
                                    else
                                    {
                                        return false;
                                    }
                                });
                            });
                        </script>
                    
                        <script type="text/javascript">
                            function displaychk_frm(){
                                dom = document.forms['add_post_form'];
                                chk = dom.elements['category[]'];
                                len = dom.elements['category[]'].length;
                                                                                                                                                                    	
                                if(document.getElementById('selectall').checked == true) { 
                                    for (i = 0; i < len; i++)
                                        chk[i].checked = true ;
                                } else { 
                                    for (i = 0; i < len; i++)
                                        chk[i].checked = false ;
                                }
                            }
                        </script>
                        
                        
                        <form   name="add_post_form" 
                                id="Add_post_form"
                                {% if form.instance.pk %}action="{% url 'update_advert' form.instance.pk %}"{% else %}action="{% url 'new_advert' %}"{% endif %} 
                                method="post" 
                                enctype="multipart/form-data">
                                
                            {% csrf_token %}                            
                            
                            {% if form.errors %}
	                        <!-- Error messaging -->
	                        <div id="errors">
		                        <div class="inner">
			                        <p>There were some errors in the information you entered. Please correct the following:</p>
			                        {{ form.non_field_errors }}
			                        <ul>
				                        {% for field in form %}
					                        {% if field.errors %}<li>{{ field.label }}: {{ field.errors|striptags }}</li>{% endif %}
				                        {% endfor %}
			                        </ul>
		                        </div>
	                        </div>
	                        <!-- /Error messaging -->
                            {% endif %}
                            
                            
                            
                            
                            <!--Start Step1-->
                            <div class="step1">
                                <div class="label">
                                    <label>Ad Title{% if form.title.field.required %}<span class="required">*</span>{% endif %}</label>
                                </div>
                                <div class="row">
                                    {{ form.title }}
                                    <p class="description">Enter a descriptive title e.g. Cute four months old bulldogs for sale.</p>
                                </div>
                                 
                                <div class="label">
                                    <label>Select Category{% if form.category.field.required %}<span class="required">*</span>{% endif %}</label>
                                </div>
                                <div class="row">
                                  <div id="ad-categories">						
                                        <div id="catlvl0">
                                            
                                            <select name='ad_maincategory' id='id_ad_maincategory' class='dropdownlist'>
                                                <option value='-1'>Select one</option>
                                                {% for category in parent_categories %}
                                                <option value="{{ category.id }}">{{ category.title }}</option>    
                                                {% endfor %}
                                            </select>
                                            
                                            <select name='ad_subcategory' id='id_ad_subcategory' class='dropdownlist'>
                                                <option value='-1'>Select one</option>
                                            </select>
                                            
                                            <select name='ad_subsubcategory' id='id_ad_subsubcategory' class='dropdownlist'>
                                                <option value='-1'>Select one</option>
                                            </select>
                                            
                                            <input id="id_category" name="category" type="hidden" value="{{ form.category.id }}" />
                                            
                                        </div>
                                    </div>    
                                     
                                </div>        
        
                                {{ img_formset.management_form }}
                                {% for form in img_formset %}
                                {{ form.id }}
                                <div class="form_row">
                                    <div class="label">
                                        <label for="cc_image1">Upload Ad Image {{ forloop.counter }}</label>
                                    </div>
                                    <div class="row">                       
                                        <div style="margin-bottom: 0;">                                        
                                            <div class="upload_button_div" style="display: inline;">
                                                {{ form.image }}
                                            </div> {{ form.errors }}
                                            {% if img_formset.can_delete %}{{ form.DELETE }} {{ form.DELETE.label_tag }}{% endif %}
                                            <div class="clear"></div>
                                            <p class="description">Upload Image for your Ad</p>
                                        </div>                        
                                    </div>
                                </div>
                                {% endfor %}    
                                                               
                                <div class="label">
                                    <label>Tags</label>
                                </div>
                                <div class="row">
                                    <input type="text" name="cc_tags"/>
                                    <p class="description">Tags are short keywords. with comas no space within. Up to 40 characters only.</p>
                                </div>
                                
                                <div class="label">
                                    <label for="cc_desc">Description{% if form.description.field.required %}<span class="required">*</span>{% endif %}</label>
                                </div>
                                <div class="row">                                    
                                    {{ form.description }}
                                    <span class="desc_error"></span>
                                </div> 
                                
                                <div class="label">
                                    <label>Location</label>
                                </div>
                                <div class="row">
                                    {{ form.location }}                                    
                                </div>  
                                
                                <div class="label">
                                    <label>Ad Type</label>
                                </div>
                                <div class="row">
                                    {{ form.adtype }}                                    
                                </div>
                                
                                <div id="div_price">
                                    <div class="label">
                                        <label>Price (KES)</label>
                                    </div>
                                    <div class="row">
                                        {{ form.price }}                                    
                                    </div>
                                </div>                        
                            </div>
                            <!--End Step1-->
                            <input class="submit" type="submit" name="step1" value="Submit" />
                        </form>
                    </div>

                </div>
                <!--End Content-->
            </div>
            <div class="grid_7 omega">
            {% if user.is_authenticated %}
                {% include 'sidebar_dashboard.html' %}
            {% else %}
                {% include 'sidebar.html' %}
            {% endif %}
            </div>
        </div>
        <div class="clear"></div>
    </div>
</div>
<!--End Content Wrapper-->

{% endblock %}
