{% extends "base.html" %}
{% load staticfiles %}

<!-- Head Title -->
{% block head_title %}{{ advert.title }}{% endblock %}

<!-- Meta Description -->
{% block meta_description %}{{ advert.description|truncatewords:30 }}{% endblock %}

<!-- Meta Keywords -->
{% block meta_keywords %}{{ advert.category }} for sale, pets in {{ advert.get_location_display }}, buy sell pets in kenya{% endblock %}

{% block body %}

<!--Start Content Wrapper-->
<div class="content_wrapper">
    <div class="container_24">
        <div class="grid_24">
            <div class="grid_17 alpha">
            
            <script type="text/javascript">
            jQuery(document).ready(function(){
                var csrf_token = '{{ csrf_token }}';
                {{ hitcount_js|safe }}
            });
            </script>
            
            
                <!--Start Content-->
                <div class="content">
                    <!--Start Post-->
                    <div class="post classi">
                        <div class="post_content">
                            <h1 class="post_title">{{ advert.title }}</h1>
                                <span class="price_meta">
                                    <span class="price_left"></span>
                                    <span class="price_center">
                                        {% if advert.adtype == 1 %}
                                            {{ advert.price }}
                                        {% else %}
                                            {{ advert.get_adtype_display }}
                                        {% endif %}
                                    </span>
                                    <span class="price_right"></span>
                                </span>
                                <ul class="post_meta">
                                    <li class="estimate">{{ advert.date_posted|timesince }} ago</li>
                                    <li class="cate">In&nbsp;<a href="{% url 'category_ads' advert.category.slug advert.category.id %}" rel="tag">{{ advert.category }}</a></li>
                                    <li class="author">by&nbsp;<a href="{% url 'user_ads' advert.owner.username %}" title="Posts by {{ advert.owner }}" rel="author">{{ advert.owner }}</a></li>
                                </ul>  

                                <div class="meta_boxes">
                                    <div class="meta_slider">
                                        <div class="flexslider">
                                            <ul class="slides">
                                            {% if advert.images.count|add:0 == 0 %}
                                                <li><img src="{% static 'images/NIA.jpg' %}" /> </li>
                                            {% else %}
                                                {% for image in advert.images.all %}
                                                    <li><img src="{{ MEDIA_URL }}{{ image.image }}" /> </li>
                                                {% endfor %} 
                                            {% endif %}   
                                            </ul>
                                        </div>
                                    </div>
                                    <div class="meta_table">
                                        <table class="ar_desc">
                                            <tr>
                                                <td class="label">Location</td>
                                                <td>{{ advert.get_location_display }}</td>
                                            </tr>
                                            <tr>
                                                <td class="label">Country</td>
                                                <td>Kenya</td>
                                            </tr>
                                            <tr>
                                                <td class="label">Expires</td>
                                                <td>{{ advert.expire_date|timeuntil }}</td>
                                            </tr>                                        
                                        </table>
                                    </div>
                                    <div class="clear"></div>
                                </div>
                                <div class="clear"></div>
                                <span class="views">{{ advert.adverthitcounts.count }} Views</span>
                            </div>
                        </div>
                        <!--End Post-->
                        <div class="clear"></div>
                        <nav id="nav-single"> 
                            <span class="nav-previous">
                                <a href="#" rel="prev"><span class="meta-nav">&larr;</span> Previous Ad </a>
                            </span> 
                            <span class="nav-next">
                                <a href="#" rel="next">Next Ad <span class="meta-nav">&rarr;</span></a>
                            </span> 
                        </nav>
                        <div class="post_content">
                            <p>{{ advert.description }}</p>
                        </div>
                        
                        <div class="clear"></div>                   
                </div>
                <!--End Content-->
            </div>
            <div class="grid_7 omega">
                {% include 'sidebar_contact.html' %}    
            </div>
        </div>
        <div class="clear"></div>
    </div>
</div>
<!--End Content Wrapper-->                    

{% endblock %}
