{% extends "base.html" %}
{% load staticfiles %}

{% block head_title %}Server error{% endblock %}

{% block body %}

<!--Start Content Wrapper-->
<div class="content_wrapper">
    <div class="container_24">
        <div class="grid_24">
            <div class="grid_17 alpha">
                <!--Start Content-->
                <div class="content">
                    <header class="entry-header">
                        <h1 class="entry-title">This is somewhat embarrassing, isn&rsquo;t it?</h1>
                    </header>
                    <p>It seems there was a problem with our servers. Please try again later, click a link in the menu above or visit the <a href="{% url 'home' %}">our homepage</a>.</p>
                    
                    <p><img src="{% static 'images/dog-404.jpg' %}" alt="404 Error" /></p>
                </div>
                <!--End Content-->
            </div>
            <div class="grid_7 omega">
            {% include 'sidebar.html' %}
            </div>
        </div>
        <div class="clear"></div>
    </div>
</div>

{% endblock %}
