{% extends 'base.html' %}

{% block head_title %}About Us{% endblock %}

{% block body %}

<!--Start Content Wrapper-->
<div class="content_wrapper">
    <div class="container_24">
        <div class="grid_24">
            
            <!--Start Content-->
            <div class="content">
                <h1 class="page_title">About Us</h1>
                <p>Thank you for visiting the {{ SITE_NAME }} free online pet classifieds website. We are the Kenya&rsquo;s most popular classfieds website for various kinds of Pets including Cats, Dogs, Rabbits and Horses to name a few. We are also totally free to use.</p>
                
                <p>The {{ SITE_NAME }} website was started in September 2014 and has quickly grown to become the Kenya&rsquo;s leading free advertising site for pets.</p>
                
                <h3>What We DO</h3>
                <p>The {{ SITE_NAME }} website provides a totally free to use advertising platform for private individuals, responsible breeders and rescue centres to list their adverts on. Potential buyers or adopters of pets can use the website to make initial contact with the advertisers. We also provide information and advice for potential pet owners.</p>
                
                <h3>Do We Check The Adverts Placed on Our Site</h3>
                <p>Yes, we manually approve the majority of adverts that are placed on our {{ SITE_NAME }} website. However we do not visit any of the advertisers homes or do any checks on the advertisers, therefore, it is the buyers responsibility to make any necessary checks on the advertisers before buying or adopting a pet.</p>
                
                <h3>Do you prevent puppy farmers or dodgy breeders abusing your site?</h3>
                <p>Yes, we do our best to prevent puppy farmers from trying to use our website. We do this by monitoring the number of adverts we allow each advertiser to place, and check advertisers local authority breeders licenses to make sure they are valid. We also work very closely with animal welfare organisations to prevent known puppy farmers from using our website.</p>
                
                <h3>What kind of adverts do you not allow on the site?</h3>
                <p>We have a list of standards we have created that we stick to when approving or banning adverts. You can read them by clicking <a href="{% url 'terms' %}#standards">here</a>. We also try to follow the WSPA and KSPCA minimum standards.</p>
                
                <h3>How can I can contact {{ SITE_NAME }}?</h3>
                <p>{{ SITE_NAME }} pet classifieds website is run by a very small team and is a totally free service, therefore we are currently unable to provide telephone support, but you can contact us via email using our &lsquo;<a href="{% url 'contact_us' %}">Contact Us</a>&rsquo; form, or alternatively write to us at our address below, and we will try to reply to you as soon as we can :</p>
                
                <p>
                PetsFirst,<br/>
                P.O. Box 384,<br/>
                Nairobi - Kenya.<br/>
                info@petsfirst.co.ke
                </p>
                
                <p>
                Regards,<br/>
                The {{ SITE_NAME }} Team</p>
                
                
                
            </div>
            <!--End Content-->
           
           
                
               
			</div>
			<div class="clear"></div>
		</div>
	</div>
	<!--End Content Wrapper-->

{% endblock %}
