{% load staticfiles %}

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" />
    <meta name="description" content="{% block meta_description %}PetsFirst is Kenya's most popular pet classifieds and information site. Search through thousands of dogs, puppies, cats, kittens and other pets for sale, adoption or stud. Post a free pet advert for your pet today including photos.{% endblock %}" />
    <meta name="keywords" content="{% block meta_keywords %}pet classifieds, advertise pets, pets for sale, puppies for sale, kittens for sale, pets, puppies, kittens, in kenya, UK, cats, dogs for sale, cats for sale, pedigree, buy sell pets kenya{% endblock %}" />
    
    <title>{% block head_title %}Pets and Pet Services in Kenya{% endblock %} | {{ SITE_NAME }}</title>
    
    <link rel="stylesheet" type="text/css" media="all" href="{% static 'css/style.css' %}" />
    
    <script type="text/javascript" src="http://code.jquery.com/jquery-latest.min.js"></script>
    <script type="text/javascript" src="{% static 'js/ajax_script.js' %}"></script>
    <script type='text/javascript' src="http://code.jquery.com/jquery-migrate-1.2.1.min.js"></script>
    <script type='text/javascript' src="{% static 'js/ddsmoothmenu.js' %}"></script>
    <script type='text/javascript' src="{% static 'js/jquery.flexslider-min.js' %}"></script>
    <script type='text/javascript' src="{% static 'js/jquery.jcarousel.js' %}"></script>
    <script type='text/javascript' src="{% static 'js/dropkick.js' %}"></script>
    <script type='text/javascript' src="{% static 'js/modernizr.js' %}"></script>
    <script type='text/javascript' src="{% static 'js/custom.js' %}"></script>
    
    <!-- Google Analytics tracking code -->
    <script>
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

      ga('create', 'UA-58123910-1', 'auto');
      ga('send', 'pageview');

    </script>

    <!--[if IE]>
    <script src="js/html5shiv.js"></script>
    <![endif]-->
    <meta name='robots' content='index, follow' />
    <link rel="shortcut icon" href="{% static 'images/favicon.png' %}" />
    <style type="text/css">
    
    .header .logo img{
    margin-top: -5px;
    }
    
    body{
		background-image: url('{% static "images/bg.jpg" %}');
	}
    </style>
    <script type="text/javascript">/*<![CDATA[*/jQuery(document).ready(function() {
			jQuery("#catlvl0").attr("level", 0);
			if (jQuery("#catlvl0 #cat").val() > 0) {
				js_cc_getChildrenCategories(jQuery(this), "catlvl-", 1, "")
			}
			jQuery("#cat").live("change", function() {
				currentLevel = parseInt(jQuery(this).parent().attr("level"));
				js_cc_getChildrenCategories(jQuery(this), "catlvl", currentLevel + 1, "");
				jQuery.each(jQuery(this).parent().parent().children(), function(b, a) {
					if (currentLevel + 1 < b) {
						jQuery(a).remove()
					}
					if (currentLevel + 1 == b) {
						jQuery(a).removeClass("hasChild")
					}
				});
				if (jQuery(this).val() > 0) {
					jQuery("#chosenCategory input:first").val(jQuery(this).val())
				} else {
					if (jQuery("#catlvl" + (currentLevel - 1) + " select").val() > 0) {
						jQuery("#chosenCategory input:first").val(jQuery("#catlvl" + (currentLevel - 1) + " select").val())
					} else {
						jQuery("#chosenCategory input:first").val("-1")
					}
				}
			})
		});
		function js_cc_getChildrenCategories(d, a, c, b) {
			parent_dropdown = jQuery(d).parent();
			category_ID = jQuery(d).val();
			results_div = a + c;
			if (!jQuery(parent_dropdown).hasClass("hasChild")) {
				jQuery(parent_dropdown).addClass("hasChild").parent().append('<div id="' + results_div + '" level="' + c + '" class="childCategory"></div>')
			}
			jQuery.ajax({type: "post", url: "http://some_url.com/admin-ajax.php", data: {action: "cc_getChildrenCategories", catID: category_ID}, beforeSend: function() {
					jQuery("#getcat").hide();
					jQuery("#ad-categories-footer").addClass("ui-autocomplete-loading").slideDown("fast")
				}, complete: function() {
					jQuery("#ad-categories-footer").removeClass("ui-autocomplete-loading")
				}, success: function(e) {
					if (e == "") {
						jQuery("#" + results_div).slideUp("fast");
						whenEmpty = true
					} else {
						jQuery("#" + results_div).html(e).slideDown("fast");
						jQuery("#" + results_div + " a").fadeIn();
						whenEmpty = false
					}
					if ((b == "yes" && jQuery("#chosenCategory input:first").val() > 0)) {
						jQuery("#getcat").fadeIn()
					} else {
						if (whenEmpty && b == "whenEmpty" && jQuery("#chosenCategory input:first").val() > 0) {
							jQuery("#getcat").fadeIn()
						} else {
							if (jQuery("#" + a + (c - 1)).hasClass("childCategory") && jQuery(d).val() > -1 && b == "no") {
								jQuery("#getcat").fadeIn()
							} else {
								jQuery("#getcat").fadeOut()
							}
						}
					}
				}})
			}
			;/*]]>*/</script>
</head>

<body class="home blog">
    <div class="wrapper">
        <div class="container_24">
            <div class="grid_24">
                <div class="top_header">
                    <!-- THIS CODE NEEDS TO BE REPLACED OR FORMATTED WITH BETTER CSS -->
                    {% if messages %}
                    <div class="alert alert-info">
                      {% for message in messages %}
                        <p>{{message}}</p>
                      {% endfor %}
                    </div>
                    {% endif %}
                    <!-- END OF CODE THAT NEEDS TO BE REPLACED -->
                  
                    <ul id="user_acces">
                    {% if user.is_authenticated %}
                        <li class="dashboard">Welcome {{user.get_short_name}} | <a href="{% url 'dashboard' %}">My Dashboard</a></li>
                        <li class="login"><a href="{% url 'logout' %}">Logout</a></li>
                    {% else %}
                        <li class="login">Welcome Guest, please <a href="{% url 'login' %}">Login</a> or <a href="{% url 'register' %}">Register</a></li>
                    {% endif %}
                    </ul>  
                </div>  
                <div class="clear"></div>
                <div class="header">
                    <div class="grid_16 alpha">
                        <div class="logo"> <a href="#"><img src="{% static 'images/logo.png' %}" alt="{{ SITE_NAME }}" /></a></div>
                    </div>
                    <div class="grid_8 omega">                            
                        <div class="post_btn">
                            <a class="post_add_btn" href="{% url 'new_advert' %}"><span class="btn_left"></span><span class="btn_center">POST FREE ADS</span><span class="btn_right"></span></a>
                        </div>
                    </div>
                    <div class="clear"></div>
                    
                    <!--Start Menu Wrapper -->
                    <div class="menu_wrapper">
                        <menu id="menu"><a href="#" class="mobile_nav closed">Pages Navigation Menu<span class="tip"></span></a>
                            <ul class="ddsmoothmenu">
                                <li class="current_page_item"><a href="{% url 'home' %}">Animals &amp; Pets</a></li>
                                <li class=""><a href="{% url 'services' %}">Pet Services</a></li>
                                <li class=""><a href="{% url 'products' %}">Pet Products</a></li>
                                <li class=""><a href="{% url 'new_advert' %}">Add New</a></li> 
                                <li class=""><a href="{% url 'contact_us' %}">Contact Us</a></li>
                            </ul>
                        </menu> 
                        <div class="clear"></div>
                    </div>
                    <!--End Menu Wrapper-->
                    <div class="clear"></div>
                    </div>
                </div>
                <div class="clear"></div>
            </div>
            <div class="clear"></div>
<!--Start Search Wrapper-->
<div class="search_wrapper">
    <div class="container_24">
        <div class="grid_24">
            <form id="advance_search" action="{% url 'search_ads' %}" method="GET">
            
                <div class="search_item first">
                    <input type="text" class="search_for" placeholder="What are you looking for ?" name="search_for" value=""/>
                </div>
                
                <div class="search_item second">                    
                    <select class="select" name='search_cat' title="Select Category">
                        <option value=''>Select Category</option>
                        {% for category in parent_categories %}
                        <option value="{{ category.id }}">{{ category.title }}</option>    
                        {% endfor %}
                    </select>                                            
                </div>
                
                <div class="search_item third">
                    <input type="text" placeholder="Location" class="search_loc" name="search_loc" />
                    <input type="submit" class="search_submit" value="search"/>
                </div>
                
            </form>
        </div>
        <div class="clear"></div>
    </div>
</div>
<!--End Search Wrapper-->
<div class="clear"></div>

<script type="text/javascript">
	jQuery(document).ready(function($) {
		$("a.switcher").bind("click", function(e) {
			e.preventDefault();

			var theid = $(this).attr("id");
			var theproducts = $("ul#products");
			var classNames = $(this).attr('class').split(' ');
			var postmeta = $(".post_meta");
			var text = $(".contents p");
			var gridthumb = "{% static 'images/products/grid-default-thumb.png' %}";
			var listthumb = "{% static 'images/products/list-default-thumb.png' %}";

			if ($(this).hasClass("active")) {
				// if currently clicked button has the active class
				// then we do nothing!
				return false;
			} else {
				// otherwise we are clicking on the inactive button
				// and in the process of switching views!

				if (theid == "gridview") {
					$(this).addClass("active");
					$("#listview").removeClass("active");

					$("#listview").children("img").attr("src", "{% static 'images/list-view.png' %}");

					var theimg = $(this).children("img");
					theimg.attr("src", "{% static 'images/grid-view-active.png' %}");

					// remove the list class and change to grid
					theproducts.removeClass("list");
					theproducts.addClass("grid");
					postmeta.hide();
					text.hide();
					// update all thumbnails to larger size
					//$("img.thumb").attr("src",gridthumb);
				}

				else if (theid == "listview") {
					$(this).addClass("active");
					$("#gridview").removeClass("active");

					$("#gridview").children("img").attr("src", "{% static 'images/grid-view.png' %}");

					var theimg = $(this).children("img");
					theimg.attr("src", "{% static 'images/list-view-active.png' %}");
					postmeta.show();
					text.show();
					// remove the grid view and change to list
					theproducts.removeClass("grid")
					theproducts.addClass("list");
					// update all thumbnails to smaller size
					//$("img.thumb").attr("src",listthumb);
				}
			}

		});
	});
	//Crousel
	function mycarousel_initCallback(carousel)
	{
		// Disable autoscrolling if the user clicks the prev or next button.
		carousel.buttonNext.bind('click', function() {
			carousel.startAuto(0);
		});

		carousel.buttonPrev.bind('click', function() {
			carousel.startAuto(0);
		});

		// Pause autoscrolling if the user moves with the cursor over the clip.
		carousel.clip.hover(function() {
			carousel.stopAuto();
		}, function() {
			carousel.startAuto();
		});
	}
	;
	jQuery(document).ready(function() {
		jQuery('#cc_carousel').jcarousel({
			wrap: 'circular',
			scroll: 1,
			auto: 1,
			initCallback: mycarousel_initCallback
		});
	});
</script>    
    
<!--Start Content Wrapper-->
{% block body %}
{% endblock %}
<!--End Content Wrapper-->

<!--End Content Wrapper-->
<div class="clear"></div>
<!--Start Footer Wrapper-->
<div class="footer_wrapper">
    <div class="container_24">
        <div class="grid_24">
            <!--Start Footer-->
            <div class="footer">
                <div class="grid_6 alpha">
                    <div class="footer_widget">
                        <h4 class="head">About {{ SITE_NAME }}</h4>
                        <p>{{ SITE_NAME }} is Kenya&rsquo;s most popular free pet classifieds website. All adverts placed on the site are totally free.</p>
                    </div>
                </div>
                <div class="grid_6">
                    <div class="footer_widget">
                        <h4 class="head">Useful Information</h4>
                        <ul>
                            <li><a href="{% url 'about' %}">About</a></li>
                            <li><a href="{% url 'terms' %}">Terms Of Use</a></li>
                            <li><a href="{% url 'contact_us' %}">Contact</a></li>
                            <li><a href="{% url 'contact_us' %}">Advertising</a></li>
                        </ul>
                    </div>
                </div>
                <div class="grid_6">
                    <div class="footer_widget">
                        <h4 class="head">Categories</h4>
                        <ul>
                            <li><a href="{% url 'home' %}">Pets for Sale</a></li>
                            <li><a href="{% url 'services' %}">Pet Care &amp; Services</a></li>
                            <li><a href="{% url 'products' %}">Pet Products</a></li>
                            <li><a href="/ads/">All Categories</a></li>
                        </ul>
                    </div>
                </div>
                <div class="grid_6 omega">
                    <div class="footer_widget last">
                        <h4 class="head">Search Site</h4>
                        <form role="search" method="get" id="searchform" action="#" >
                            <div>
                                <input onfocus="if (this.value == 'Search') {this.value = '';}" onblur="if (this.value == '') {this.value = 'Search';}"  value="Search" type="text" value="" name="Search" id="searchtxt" />
                                <input type="submit" id="searchsubmit" value="" />
                            </div>
                        </form>
                    </div>
                </div>
            </div>
            <!--Start Footer-->
        </div>
        <div class="clear"></div>
    </div>
</div>
<!--End Footer Wrapper-->
<div class="clear"></div>
<div class="footer_bottom">
    <div class="container_24">
        <div class="grid_24">
            <div class="grid_12 alpha">
                <div class="bottom_content">
                    <ul class="social_icon">
                        <li><a  href="#"><img src="{% static 'images/facebook.png' %}" title="Facebook" alt="facebook"/></a></li>
                        <li><a  href="#"><img src="{% static 'images/twitter.png' %}" title="Twitter" alt="twitter"/></a></li>
                    </ul>
                </div>
            </div>
            <div class="grid_12 omega">
                <div class="bottom_content">
                    <p style="float:" class="copyright">&copy; {% now "Y" %} {{ SITE_NAME }}. All Rights Reserved.</p>
                </div>
            </div>
        </div>
        <div class="clear"></div>
    </div>
</div>
<div class="clear"></div>
</div>


                
<script type='text/javascript' src="{% static 'js/mobile-menu.js' %}"></script>
<div style="visibility: hidden; display: block; clear: both;width: 100%; height: 20px;"></div>
</body>
</html>
