{% extends 'base.html' %}

{% block head_title %}Home{% endblock %}

{% block body %}

<!--Start Content Wrapper-->
<div class="content_wrapper">
    <div class="container_24">
        <div class="grid_24">
            <div class="grid_17 alpha">
                <!--Start Content-->
                <div class="content">
                    <h1 class="page_title">Contact Us</h1>
                    <div id="contact">
                        {{ contact_form.non_field_errors }}
                        <form action="{% url 'contact_us' %}" class="contactform" method="post" id="contactForm">
                            {% csrf_token %}
                        
                            <label for="contactName">Your Name <span class="required">*</span></label>
                            <br/>                                                        
                            {{ contact_form.name }}
                            <span id="username_error"></span>
                            <br/>
                            
                            <label for="eMail">Your Email: <span class="required">*</span></label>
                            <br/>                                                        
                            {{ contact_form.email }}
                            <span id="email_error"></span>
                            <br/>
                            
                            <label for="commentsText">Your Message <span class="required">*</span></label>
                            <br/>
                            {{ contact_form.message }}
                            <span id="comment_error"></span>
                            <br/>
                            
                            <input class="captcha" id="captcha" placeholder="Enter Captcha" type="text" name="captcha" value=""/>
                            <span style="" class="show_captcha">3 + 1</span>
                            <div class="clear"></div>
                            <input type="hidden" name="captchacode" value="4"/>
                            
                            <input  class="btnSubmit" type="submit" name="submit" value="Submit"/>
                            <input type="hidden" name="submitted" id="submitted" value="true" />
                        </form>                         
                    </div>
                </div>
                <!--End Content-->
            </div>
           <script type="text/javascript">
            jQuery(document).ready(function(){
                var Form = jQuery("#contactForm");
                var uname = jQuery('#id_name');
                var email = jQuery("#id_email");
                var message = jQuery("#id_message");
                var emailReg = /^([\w-\.]+@([\w-]+\.)+[\w-]{2,4})?$/;
                function validate_uname(){
                    if(uname.val() == ''){
                        uname.addClass('error');
                        uname.css('border', 'solid 1px red');
                        uname.attr("placeholder","This field is required");
                        return false;
                    }else{
                        uname.removeClass('error');
                        uname.css("border","none");
                        return true;
                    }
                }
                uname.blur(validate_uname);
                uname.keyup(validate_uname);
                
                function validate_email(){
                    if(email.val() == ''){
                        email.addClass('error');
                        email.css("border", "solid 1px red");
                        email.attr("placeholder","This field is required");
                        return false;
                    }else if(!emailReg.test(email.val())){
                        email.addClass("error");
                        email.css("border", "solid 1px red");
                        email.attr("placehoder", "Please provide valid email address");
                        return false;
                    }else{
                        email.removeClass("error");
                        email.css("border","none");
                        return true;
                    }
                }
                email.blur(validate_email);
                email.keyup(validate_email);
                            
                function validate_message(){
                    if(message.val() == ''){
                        message.addClass("error");
                        message.css("border","solid 1px red"); 
                        message.attr("placeholder","This field is required");
                        return false;
                    }else{
                        message.removeClass("error");
                        message.css("border","none");
                        return true;
                    }
                }
                message.blur(validate_message);
                message.keyup(validate_message);
                Form.submit(function(){
                    if(validate_uname() & validate_email() & validate_message()){
                        return true;
                    }else{
                        return false;
                    }
                });
            });   
        </script>
                
                <div class="grid_7 omega">
					{% include 'sidebar.html' %}
				</div>
			</div>
			<div class="clear"></div>
		</div>
	</div>
	<!--End Content Wrapper-->

{% endblock %}
