{% extends 'base.html' %}
{% load staticfiles %}

{% block head_title %}Buy, Sell or adopt Pets in Kenya{% endblock %}

{% block body %}


<!--Start Content Wrapper-->
	<div class="content_wrapper">
		<div class="container_24">
			<div class="grid_24">
				{% include 'slider.html' %}
				<div class="clear"></div>
				<div class="grid_17 alpha">
				
					{% comment %}{% include 'home_categories.html' %}{% endcomment %}
					
					<!--Start Content-->
					<div class="content">
						
						<!--Start featured_item-->
					    <div class="featured_item">
						    <div id="wrap">
                                <header>
								    <span class="list-style-buttons">
									    <a href="#" id="gridview" class="switcher ">GRID VIEW</a>
									    <a href="#" id="listview" class="switcher active">LIST VIEW</a>
								    </span>
								    <ul id="tabs">
									    <li><a href="#" title="recent">RECENTLY LISTED</a></li>
									    <li><a href="#" title="featured">PREMIUM ADS</a></li>
									    <li><a href="#" title="popular">POPULAR ADS</a></li>                                         
								    </ul>
								    <div class="clear"></div>
							    </header>
                                <div class="clear"></div>
							    <div id="content">
								    <div id="recent">
									    <ul id="products" class="list clearfix">
									    {% for advert in adverts %}
                                            <!-- row 1 -->
                                            <li class="thumbnail">
                                                <section class="thumbs">
                                                <!-- Show the first image -->
                                                {% with advert.images.all|first as image %}
                                                  {% if image %}
                                                  <a href="{% url 'view_advert' advert.slug advert.id %}">
                                                    <img src="{{ MEDIA_URL }}{{ image.image }}" class='postimg ' alt='Post Image'/>
                                                  </a>
                                                  {% else %}
                                                  <a href="{% url 'view_advert' advert.slug advert.id %}">
                                                    <img src="{% static 'images/NIA-thumb.jpg' %}" class='postimg ' alt='Post Image'/>
                                                  </a>
                                                  {% endif %} 
                                                {% endwith %}  
                                                    <section class="thumb_item">
                                                        <span class="price">
                                                        {% if advert.adtype == 1 %}
                                                            KES {{ advert.price }}
                                                        {% else %}
                                                            {{ advert.get_adtype_display }}
                                                        {% endif %}
                                                        </span>
                                                        <div class="clear"></div>
													    <a class="view" href="{% url 'view_advert' advert.slug advert.id %}">View it!</a>
												    </section>
											    </section>
											    <section class="contents">
												    <h6 class="title"><a href="{% url 'view_advert' advert.slug advert.id %}" rel="bookmark" title="links">{{ advert.title }}</a></h6>
											        <section class="grid_content">
											            <p>{{ advert.description|truncatewords:20 }} [&hellip;]</p>
											        </section>
										            <div class="clear"></div>
										            <ul class="post_meta">
											            <li class="estimate">{{ advert.date_posted|timesince }} ago</li>
											            <li class="cate"><a href="{% url 'category_ads' advert.category.slug advert.category.id %}" rel="tag">{{ advert.category }}</a></li>
											            <li class="author">by&nbsp;<a href="{% url 'user_ads' advert.owner.username %}" title="Posts by {{ advert.owner }}" rel="author">{{ advert.owner }}</a></li>
										            </ul>
										        </section>
										    </li>
                                            <!-- row 1 --> 
                                            {% endfor %}  
								        </ul>
								        
								        <!-- Adverts Pagination -->
								        <ul class="paginate">
								            {% if adverts.has_previous %}
                                                <li><a href="?page=1">&#171;</a></li>
                                                <li><a href="?page={{ adverts.previous_page_number }}">&#8249;</a></li>
                                            {% endif %}
								            
								            <li><a href="?page={{ adverts.number }}" class="current">Page {{ adverts.number }} of {{ adverts.paginator.num_pages }}</a></li>
								            
								            {% if adverts.has_next %}
                                                <li><a href="?page={{ adverts.next_page_number }}">&#8250;</a></li>
                                                <li><a href="?page={{ adverts.num_pages }}">&#187;</a></li>
                                            {% endif %}      
								        </ul>
								        <!-- End of Adverts Pagination -->
								    </div>
                                    
                                    <div id="featured">
							            
							            {% if premium_adverts %} 
							            <ul id="products" class="list clearfix">
                                            
                                            {% for featured_ad in premium_adverts %}
                                            <!-- row 1 -->
                                            <li class="thumbnail">
                                                <section class="thumbs">
                                                    <!-- Show the first image -->
                                                    {% with featured_ad.images.all|first as f_image %}
                                                      {% if f_image %}
                                                      <a href="{% url 'view_advert' featured_ad.slug featured_ad.id %}">
                                                        <img src="{{ MEDIA_URL }}{{ image.image }}" class='postimg ' alt='Post Image'/>
                                                      </a>
                                                      {% else %}
                                                      <a href="{% url 'view_advert' featured_ad.slug advert.id %}">
                                                        <img src="{% static 'images/NIA-thumb.jpg' %}" class='postimg ' alt='Post Image'/>
                                                      </a>
                                                      {% endif %} 
                                                    {% endwith %}                                                    
                                                    <section class="thumb_item">
                                                        <span class="price">
                                                        {% if featured_ad.adtype == 1 %}
                                                            KES {{ featured_ad.price }}
                                                        {% else %}
                                                            {{ featured_ad.get_adtype_display }}
                                                        {% endif %}
                                                        </span>
                                                        <div class="clear"></div>
													    <a class="view" href="{% url 'view_advert' featured_ad.slug featured_ad.id %}">View it!</a>
												    </section>
                                                </section>									            
									            <section class="contents">
												    <h6 class="title"><a href="{% url 'view_advert' featured_ad.slug featured_ad.id %}" rel="bookmark" title="links">{{ featured_ad.title }}</a></h6>
											        <section class="grid_content">
											            <p>{{ featured_ad.description|truncatewords:20 }} [&hellip;]</p>
											        </section>
										            <div class="clear"></div>
										            <ul class="post_meta">
											            <li class="estimate">{{ featured_ad.date_posted|timesince }} ago</li>
											            <li class="cate"><a href="{% url 'category_ads' featured_ad.category.slug featured_ad.category.id %}" rel="tag">{{ featured_ad.category }}</a></li>
											            <li class="author">by&nbsp;<a href="{% url 'user_ads' featured_ad.owner.username %}" title="Posts by {{ featured_ad.owner }}" rel="author">{{ featured_ad.owner }}</a></li>
										            </ul>
										        </section>
								            </li>
							                <!-- row 1 -->
							                {% endfor %}                
													                                                   
						                </ul> 
						                {% else %}
						                <p>There are currently no featured adverts.</p>
						                {% endif %}
						            </div>
                                    
                                    
                                    <div id="popular">
									    <ul id="products" class="list clearfix">
                                        {% for popular_ad in popular_adverts %}
                                            <!-- row 1 -->
                                            <li class="thumbnail">
                                                <section class="thumbs">
                                                <!-- Show the first image -->
                                                {% with popular_ad.images.all|first as image %}
                                                  {% if image %}
                                                  <a href="{% url 'view_advert' popular_ad.slug popular_ad.id %}">
                                                    <img src="{{ MEDIA_URL }}{{ image.image }}" class='postimg ' alt='Post Image'/>
                                                  </a>
                                                  {% else %}
                                                  <a href="{% url 'view_advert' popular_ad.slug popular_ad.id %}">
                                                    <img src="{% static 'images/NIA-thumb.jpg' %}" class='postimg ' alt='Post Image'/>
                                                  </a>
                                                  {% endif %} 
                                                {% endwith %} 
                                                    <section class="thumb_item">
                                                        <span class="price">
                                                        {% if popular_ad.adtype == 1 %}
                                                            KES {{ popular_ad.price }}
                                                        {% else %}
                                                            {{ popular_ad.get_adtype_display }}
                                                        {% endif %}
                                                        </span>
                                                        <a class="view" href="{% url 'view_advert' popular_ad.slug popular_ad.id %}">View it!</a>
                                                    </section>
                                                </section>
                                                <section class="contents">
                                                    <h6 class="title">
                                                        <a href="{% url 'view_advert' popular_ad.slug popular_ad.id %}" rel="bookmark" title="">{{ popular_ad.title }}</a>
                                                    </h6>
                                                    <p>{{ popular_ad.description|truncatewords:20 }} [&hellip;]</p>
												    <div class="clear"></div>
												    <ul class="post_meta">
													    <li class="estimate">{{ popular_ad.date_posted|timesince }} ago</li>
													    <li class="cate"><a href="{% url 'category_ads' popular_ad.category.slug popular_ad.category.id %}" rel="tag">{{ popular_ad.category }}</a></li>
													    <li class="author">by&nbsp;<a href="{% url 'user_ads' popular_ad.owner.username %}" title="Posts by {{ popular_ad.owner }}" rel="author">{{ popular_ad.owner }}</a></li>
												    </ul>
										        </section>
										    </li>
                                            <!-- row 1 --> 
                                        {% endfor %}
									                                               
								        </ul>  
							        </div>
							    </div>
						        <div class="clear"></div>
					        </div>
                        
                        </div>
				        <!--End featured_item-->  
					</div>
					<!--End Content-->
				</div>
				<div class="grid_7 omega">
					{% include 'sidebar.html' %}
				</div>
			</div>
			<div class="clear"></div>
		</div>
	</div>
	<!--End Content Wrapper-->

{% endblock %}
