{% extends "base.html" %}
{% load staticfiles %}

{% block head_title %}Pet Services{% endblock %}

{% block body %}

<!--Start Content Wrapper-->
	<div class="content_wrapper">
		<div class="container_24">
			<div class="grid_24">
				<div class="clear"></div>
				<div class="grid_17 alpha">
				
				    {% if adverts %}                            
                    <div class="">
                        <p>You searched for: <strong>{{ query }}</strong></p>
                        <p>Found <strong>{{ adverts|length }}</strong> advert{{ adverts|pluralize }}.</p>
                    </div>
				
					<!--Start Content-->
					<div class="content">
						
						<!--Start featured_item-->
					    <div class="featured_item">
						    <div id="wrap">
                                <header>
								    <span class="list-style-buttons">
									    <a href="#" id="gridview" class="switcher ">GRID VIEW</a>
									    <a href="#" id="listview" class="switcher active">LIST VIEW</a>
								    </span>
								    <ul id="tabs">
									    <li><a href="#" title="recent">RECENTLY LISTED</a></li>
									</ul>
								    <div class="clear"></div>
							    </header>
							    <div class="clear"></div>
							    <div id="content">
								    <div id="recent">
									    <ul id="products" class="list clearfix">
									    {% for advert in adverts %}
                                            <!-- row 1 -->
                                            <li class="thumbnail">
                                                <section class="thumbs">
                                                <!-- Show the first image -->
                                                {% with advert.images.all|first as image %}
                                                  {% if image %}
                                                  <a href="{% url 'view_advert' advert.slug advert.id %}">
                                                    <img src="{{ MEDIA_URL }}{{ image.image }}" class='postimg ' alt='Post Image'/>
                                                  </a>
                                                  {% else %}
                                                  <a href="{% url 'view_advert' advert.slug advert.id %}">
                                                    <img src="{% static 'images/NIA-thumb.jpg' %}" class='postimg ' alt='Post Image'/>
                                                  </a>
                                                  {% endif %} 
                                                {% endwith %}  
                                                    <section class="thumb_item">
                                                        <span class="price">
                                                        {% if advert.adtype == 1 %}
                                                            KES {{ advert.price }}
                                                        {% else %}
                                                            {{ advert.get_adtype_display }}
                                                        {% endif %}
                                                        </span>
                                                        <div class="clear"></div>
													    <a class="view" href="{% url 'view_advert' advert.slug advert.id %}">View it!</a>
												    </section>
											    </section>
											    <section class="contents">
												    <h6 class="title"><a href="{% url 'view_advert' advert.slug advert.id %}" rel="bookmark" title="links">{{ advert.title }}</a></h6>
											        <section class="grid_content">
											            <p>{{ advert.description|truncatewords:20 }} [&hellip;]</p>
											        </section>
										            <div class="clear"></div>
										            <ul class="post_meta">
											            <li class="estimate">{{ advert.date_posted|timesince }} ago</li>
											            <li class="cate"><a href="{% url 'category_ads' advert.category.slug advert.category.id %}" rel="tag">{{ advert.category }}</a></li>
											            <li class="author">by&nbsp;<a href="{% url 'user_ads' advert.owner.username %}" title="Posts by {{ advert.owner }}" rel="author">{{ advert.owner }}</a></li>
										            </ul>
										        </section>
										    </li>
                                            <!-- row 1 --> 
                                            {% endfor %}  
								        </ul>   
								    </div>                                     
							    </div>
						        <div class="clear"></div>
					        </div>
                        
                        </div>
				        <!--End featured_item-->  
					</div>
					<!--End Content-->
					
					{% else %}
                    <div class="">
                        <p>You searched for: <strong>{{ query }}</strong></p>
                        <p>No adverts matched your search criteria.</p>
                    </div>
                    {% endif %}					
					
				</div>
				<div class="grid_7 omega">
					{% include 'sidebar.html' %}
				</div>
			</div>
			<div class="clear"></div>
		</div>
	</div>
	<!--End Content Wrapper-->

{% endblock %}
