{% load staticfiles %}
                <!--Start Sidebar-->
                <div class="sidebar">
                    <div class="sidebar_dashboard">
                        <h2 class="head">Account Information</h2>
                        <div class="author-meta">
                            <img alt='' src="{% static 'images/empty_profile.png' %}" class='avatar avatar-40 photo' height='40' width='40' />
                            <h4>Welcome,&nbsp;{{ user.username }}</h4>
                            <small>Member Since :&nbsp;{{ user.date_joined|date:'d/M/y' }}</small>
                        </div>
                    </div>
                    
                    <div class="sidebar_dashboard">
                        <h2 class="head">User Options</h2>                         
                        <ul class="dash-list">
                            <li class="addnew"><a href="{% url 'new_advert' %}">Add New</a></li>
                            <li class="view"><a href="{% url 'dashboard' %}">View Ads</a></li>
                            <!--<li class="comment"><a href="#">View comments</a></li>
                            <li class="lead"><a href="#">View Leads</a></li>-->
                            <li class="expire"><a href="{% url 'expired_ads' %}">View Expired Ads</a></li>
                            <li class="profile"><a href="{% url 'update_profile' %}">Edit Profile</a></li>
                            <li class="profile"><a href="{% url 'password_change' %}">Change Password</a></li>
                        </ul>
                    </div>
                </div>
                <!--End Sidebar-->
