{% load categories_list %}
{% load staticfiles %}

                <!--Start Sidebar-->
                <div class="sidebar">
                    <div class="sidebar_widget">
                        <h4 class="widget-title">Categories</h4>
                        {% if category %}
                            {% get_category_list category %}
                        {% else %}
                            {% get_category_list %}
                        {% endif %}
                    </div>
                    <div class="sidebar_widget">
                        <h4 class="head">Recent Ads</h4>
                        <img src="{% static 'images/AdvertiseHere.jpg' %}" alt="Advertise Here" width="250" />
                    </div>
                </div>
                <!--End Sidebar-->
