<!--Start Sidebar-->
<div class="sidebar">
    <!--Start sidebar_widget-->
<div class="sidebar_widget">
    <div class="contact_widget">
        <div class="subscribe_form">
            <h5 class="contact_header">Contact This Person</h5>
            <div class="form_element">
                {{ seller_contact_form.non_field_errors }}
                <form id="lead_form" action="{% url 'contact_seller' advert.id %}" method="post" enctype="multipart/form-data">
                    {% csrf_token %}
                    
                    {{ seller_contact_form.name }}
                    {{ seller_contact_form.email }}
                    {{ seller_contact_form.message }}
                    <input class="captcha" id="captcha" placeholder="Enter Captcha" type="text" name="captcha" value=""/>
                    <span style="" class="show_captcha">3 + 1</span>
                    <div class="clear"></div>
                    <input type="hidden" name="captchacode" value="4"/>                  
                    <input type="submit" name="submit"/>                    
                </form>
                <script type="text/javascript">
                jQuery(document).ready(function(){
                    var Form = jQuery("#lead_form");
                    var uname = jQuery('#id_name');
                    var email = jQuery("#id_email");
                    var message = jQuery("#id_message");
                    var emailReg = /^([\w-\.]+@([\w-]+\.)+[\w-]{2,4})?$/;
                    var captcha = jQuery('#captcha');
                    function validate_uname(){
                        if(uname.val() == ''){
                            uname.addClass('error');
                            uname.css('border', 'solid 1px red');
                            uname.attr("placeholder","This field is required");
                            return false;
                        }else{
                            uname.removeClass('error');
                            uname.css("border","1px solid #c3c3c3");
                            return true;
                        }
                    }
                    uname.blur(validate_uname);
                    uname.keyup(validate_uname);        
                    function validate_email(){
                        if(email.val() == ''){
                            email.addClass('error');
                            email.css("border", "solid 1px red");
                            email.attr("placeholder","This field is required");
                            return false;
                        }else if(!emailReg.test(email.val())){
                            email.addClass("error");
                            email.css("border", "solid 1px red");
                            email.attr("placehoder", "Please provide valid email address");
                            return false;
                        }else{
                            email.removeClass("error");
                            email.css("border","1px solid #c3c3c3");
                            return true;
                        }
                    }
                    email.blur(validate_email);
                    email.keyup(validate_email);
                                
                    function validate_message(){
                        if(message.val() == ''){
                            message.addClass("error");
                            message.attr("placeholder","This field is required");
                            message.css("border","solid 1px red"); 
                            return false;
                        }else{
                            message.removeClass("error");
                            message.css("border","1px solid #c3c3c3");
                            return true;
                        }
                    }
                    message.blur(validate_message);
                    message.keyup(validate_message);
                    function validate_captcha(){
                        if(captcha.val() == ''){
                            captcha.addClass("error");
                            captcha.attr("placeholder","This field is required");
                            captcha.css("border","solid 1px red"); 
                            return false;
                        }else{
                            captcha.removeClass("error");
                            captcha.css("border","1px solid #c3c3c3");
                            return true;
                        } 
                    }
                    captcha.blur(validate_captcha);
                    captcha.keyup(validate_captcha);
                    Form.submit(function(){
                        if(validate_uname() & validate_email() & validate_message() & validate_captcha()){
                            return true;
                        }else{
                            return false;
                        }
                    });
                });   
                </script>
            </div>
        </div>
    </div>
</div>
<!--End sidebar_widget-->
<div class="sidebar_widget">
    
</div>
<div class="clear"></div>
<div class="sidebar_widget">
<h4 class="widget-title">Categories</h4>
        <!--<ul>
                	<li class="cat-item cat-item-45"><a href="http://inkthemes.com/wptheme/classicraft/cate/accounts-finance-law-jobs/" title="View all posts filed under Accounts, Finance &amp; Law Jobs">Accounts, Finance &amp; Law Jobs</a>
</li>
	<li class="cat-item cat-item-46"><a href="http://inkthemes.com/wptheme/classicraft/cate/admin-support-jobs/" title="View all posts filed under Admin &amp; Support Jobs">Admin &amp; Support Jobs</a>
</li>
	<li class="cat-item cat-item-36"><a href="http://inkthemes.com/wptheme/classicraft/cate/agriculture-equipment/" title="View all posts filed under Agriculture Equipment">Agriculture Equipment</a>
</li>
	<li class="cat-item cat-item-52"><a href="http://inkthemes.com/wptheme/classicraft/cate/apartments-flats-for-sale/" title="View all posts filed under Apartments &amp; Flats for Sale">Apartments &amp; Flats for Sale</a>
</li>
	<li class="cat-item cat-item-60"><a href="http://inkthemes.com/wptheme/classicraft/cate/architects-interior-designers/" title="View all posts filed under Architects &amp; Interior Designers">Architects &amp; Interior Designers</a>
</li>
	<li class="cat-item cat-item-39"><a href="http://inkthemes.com/wptheme/classicraft/cate/art-entertainment/" title="View all posts filed under Art &amp; Entertainment">Art &amp; Entertainment</a>
</li>
	
            </ul>-->
            </div><div class="sidebar_widget">     
        <h5 class="head">Recent Ads</h5>
        
        </div></div>
<!--End Sidebar-->      
