{% extends 'base.html' %}

{% block head_title %}Terms &amp; Conditions{% endblock %}

{% block body %}

<!--Start Content Wrapper-->
<div class="content_wrapper">
    <div class="container_24">
        <div class="grid_24">
            
            <!--Start Content-->
            <div class="content">
                <h1 class="page_title">Terms &amp; Conditions</h1>
                <p>Welcome to the {{ SITE_NAME }} website. {{ SITE_NAME }} is a free Kenyan online pet classifieds website. The following are our terms &amp; conditions for the use of this website.</p>
                
                <h3>Acceptance of the Terms &amp; Conditions</h3>
                <p>By using the {{ SITE_NAME }} website you agree to be bound by these terms and conditions. Please note that we may change these terms from time to time, so please make sure to read this page regularly. If you don&rsquo;t agree with any of these terms then please do not continue to use the website.</p>
                
                <h3>The use of {{ SITE_NAME }}</h3>
                <p>As a condition of using the {{ SITE_NAME }} website, you agree that you won&rsquo;t :
                    <ul>
                    <li>Create multiple accounts or use false addresses or contact information</li>
                    <li>Post any abusive, threatening, defamatory or indecent material</li>
                    <li>Post any images, information or other material which don&rsquo;t belong to yourself or infringes upon other peoples rights</li>
                    <li>Copy other peoples content without their consent</li>
                    <li>Use any kind of site scrapers or other automated services to collect information from the site for use on other websites without our permission. This includes the use of tools to harvest email addresses or pet adverts from the website</li>
                    <li>Post non related adverts on the website or spam the website by posting multiple copies of your adverts. We only allows adverts for pets for sale, adoption, stud or wanted. We do not allow posting of adverts for other services</li>
                    <li>Attempt to gain unauthorised access to any of the Services, other accounts, computer systems or networks connected to the Website/Services through hacking, password mining or any other means.</li>
                    <li>Use the Website/Services in any manner that could damage, disable, overburden or impair the Website/Services or interfere with any other party&rsquo;s use and enjoyment of the Website/Services</li>
                    <li>Impersonate any person or entity for the purpose of misleading others</li>
                    </ul>
                </p>
                
                <a name="standards"></a><h3>Posting Adverts on {{ SITE_NAME }}</h3>
                <p>{{ SITE_NAME }} aims to promote responsible pet ownership and breeding. Therefore when posting adverts on {{ SITE_NAME }} we expect you to adhere to our guidelines below. If any of these guidelines are not followed, your {{ SITE_NAME }} advert will not be approved and your account maybe banned without prior notice. We provide a free service, but please remember that your use of the website is not guaranteed, and we reserve the right at any time to block access to our free services.</p>
                
                <p>We work closely with animal welfare organisations, police, local councils and trading standards. If we believe you are not adhering to the following guidelines or looking after any pets you advertise on our website, we may pass on your details to the relevant people :
                    <ul>
                    <li>Pets shouldn&rsquo;t be sold until they are at least 8 weeks of age. This is the minimum age at which they should leave their mother.</li>
                    <li>Stud dogs should not be advertised if they are less than 18 months of age.</li>
                    <li>Pets should be advertised in the correct category and the full breed should be disclosed to any potential new owner. If a pet is a cross breed, then this should be stated clearly in the advert title or description.</li>
                    <li>If you are advertising your pets as being pedigree, you should provide all pedigree papers to the new owner. You should also state in the advert description, which organisation they are registered with.</li>
                    <li>When advertising puppies and kittens, you should allow the new owner to view them at home with their mother and father if possible. You shouldn&rsquo;t offer delivery of your pets, neither should you arrange to meet buyers at locations other than your home.</li>
                    <li>You must state the correct location in your adverts, this should be where the pet is currently located and where it can be viewed</li>
                    <li>Puppies and Kittens cannot be advertised if they have been or will be imported from other countries outside East Africa</li>
                    <li>No banned pet breeds should be advertised on the {{ SITE_NAME }} website. We will not accept adverts for dogs of the following breeds or cross breeds, Pit Bull Terrier, Japanese Tosa, Dogo Argentino, Fila Brasiliero.</li>
                    <li>People who breed five or more litters in any 12 month period need to be licensed via the local authority. Even if you breed less than five litters per year, you may need to be licensed if the local authority deem that you are breeding for commercial gain. By advertising on the {{ SITE_NAME }} website we expect you to follow these guidelines. We may need you to email us a copy of your valid local authority license before you can use our free advertising services.</li>
                    <li>Pets should not be advertised as gifts or presents for Christmas or Easter etc... {{ SITE_NAME }} tries to promote responsible pet ownership.</li>
                    <li>Pets that are pregnant should not be advertised through the website, this is because it is already a stressful time for the pet and it is not advised that they should have to go through the ordeal of being rehomed as well. It is advisable that you wait until at least 8 weeks after the pet has given birth and all its offspring have been rehomed.</li>
                    <li>All adverts placed must be done so under one account only. This is so we can monitor your adverts and any complaints. If we believe you have created multiple accounts to post adverts, all of your accounts will be banned.</li>
                    <li>Your account and adverts should contain your correct personal details, including correct location.</li>
                    <li>If we receive complaints about your adverts or pets that you have advertised on the site, we may remove access to the site whilst they are investigated. This may lead to a permanent ban from the website.</li>
                    <li>We do not allow imported puppies or kittens to be advertised on the website</li>
                    <li>We do not allow certain wording similar to Designer and Teacup in the advertisements of pets which can be misleading to advertisers or attract the wrong kind of buyers. Words such as &quot;Micro&quot;, &quot;Designer&quot; (or any variation of), &quot;Teacup&quot; (or any variation of), &quot;Pocket&quot;, &quot;Miniature&quot; (unless referring to a miniature pedigree breed) are not allowed.</li>
                    </ul>
                </p>
                
                <h3>Contacting Advertisers</h3>
                <p>As a condition of using the {{ SITE_NAME }} website, you agree that when contacting our advertisers, you won&rsquo;t :
                <ul>
                <li>Send any abusive or threatening emails, or make any abusive or threatening phone calls.</li>
                <li>Use our advertisers contact details or the {{ SITE_NAME }} contact forms to send spam to our advertisers or messages unrelated to their advertisements.</li>
                </ul>
                </p>
                
                <h3>Copyright Infringement</h3>
                <p>As a condition of using the {{ SITE_NAME }} website, you acknowledge and agree that we may preserve or disclose your information and content, if required to do so by law or in the good faith belief that such disclosure is necessary to :
                <ul>
                <li>Identify copyrighted material or other intellectual property that you claim has been infringed upon</li>
                <li>Identify the material on our website that you claim is infringing, with enough detail so that we can locate it on the website</li>
                <li>Confirm a statement by you that content displayed is not authorised by the copyright owner, its agent, or the law</li>
                <li>You may not infringe or attempt to infringe on the privacy or the rights of other {{ SITE_NAME }} users. This includes you storing or trying to store personal data of other {{ SITE_NAME }} users. We will remove any infringing listings.</li>
                <li>If you believe that any of your content or material has been copied in a way that infringes copyright, or your intellectual property rights have been otherwise violated, please inform us immediately by contacting {{ SITE_NAME }} support using the contact form</li>
                </ul>
                </p>
                
                <h3>Exposure to {{ SITE_NAME }} Content</h3>
                <p>By using the {{ SITE_NAME }} website, you understand that :
                <ul>
                <li>All Pet adverts, messages, images, photos, and all other content posted on, transmitted through, or linked from {{ SITE_NAME }}, are the sole responsibility of the person from whom such Content originated</li>
                <li>You are entirely responsible for all the content that you add, upload, email or otherwise make available via {{ SITE_NAME }}</li>
                <li>You may be exposed to Content that is offensive, indecent, inaccurate, misleading, or otherwise objectionable. {{ SITE_NAME }} does not control and is not responsible for Content made available through the website</li>
                <li>We do our best to prevent the majority of scammers from using the {{ SITE_NAME }} website, but we cannot guarantee that all adverts are placed by genuine people. You should therefore make sure you are careful when contacting advertisers. Under no circumstances will {{ SITE_NAME }} be liable in any way for any loss or damage of any kind incurred as a result of the use of any Content listed, emailed or otherwise made available via the website</li>
                <li>You acknowledge that {{ SITE_NAME }} does not approve all Content, but we will have the right to refuse, delete or move any content that is available via the service, for violating our terms or for any other reason</li>
                </ul>
                </p>
                
                <h3>Termination of Service</h3>
                <p>We have the right to terminate your access to any or all of the Services at any time, without notice, for any reason, including without limitation, breach of these Terms and Conditions. We may also at any time, at our sole discretion, discontinue the Website/Services or any part thereof without prior notice and you agree that we shall not be liable to you or any third party for any termination of your access to the Website/Services.</p>
                
                <h3>Disclaimers and Limitation of Liability</h3>
                <p>Use of the Website/Services is at your own risk. The Website/Services are provided on an &quot;AS IS&quot; and &quot;AS AVAILABLE&quot; basis without any representation or endorsement made and without warranty of any kind whether express or implied, including but not limited to the implied warranties of satisfactory quality, fitness for a particular purpose, non-infringement, compatibility, security and accuracy.</p>
                
                <p>To the extent permitted by law, {{ SITE_NAME }} will not be liable for any indirect or consequential loss or damage whatsoever (including without limitation loss of business, opportunity, data, profits) arising out of or in connection with the use of the Website/Services.</p>
                
            </div>
            <!--End Content-->
           
           
                
               
			</div>
			<div class="clear"></div>
		</div>
	</div>
	<!--End Content Wrapper-->

{% endblock %}
