{% extends "base.html" %}
{% load i18n %}

{% block head_title %}{% trans 'Confirmation Email Sent' %}{% endblock %}

{% block body %}

<!--Start Content Wrapper-->
<div class="content_wrapper">
    <div class="container_24">
        <div class="grid_24">
            <div class="grid_17 alpha">
                <!--Start Content-->
                <div class="content">
                    <h1 class="page_title">{% trans 'Registration successful' %}</h1>
                    <p>{% trans 'A confirmation e-mail with an activation link has been sent to you.' %}<br/>
                    {% trans 'Please check your e-mail and follow the link to continue the registration process.' %}</p>
                </div>
                <!--End Content-->
            </div>           
                
            <div class="grid_7 omega">
				{% include 'sidebar.html' %}
			</div>
		</div>
		<div class="clear"></div>
	</div>
</div>
<!--End Content Wrapper-->

{% endblock %}
