{% extends 'base.html'%}

{% block head_title %}Password Recovery{% endblock %}

{% block body %}

<!--Start Content Wrapper-->
<div class="content_wrapper">
    <div class="container_24">
        <div class="grid_24">
            <div class="grid_17 alpha">
                <!--Start Content-->
                <div class="content">
                    <h1 class="page_title">Lost password</h1>
                    <form action="{% url 'lost_password'%}" method="POST" id="lostPasswordForm">
                        {% csrf_token %}
                        {{form.as_p}}
                        <input type="submit" value="Submit">
                    </form>
                </div>
                <!--End Content-->
            </div>
            <script type="text/javascript">
            jQuery(document).ready(function(){
                var Form = jQuery("#lostPasswordForm");
                var email = jQuery("#id_email");
                var emailReg = /^([\w-\.]+@([\w-]+\.)+[\w-]{2,4})?$/;
                               
                function validate_email(){
                    if(email.val() == ''){
                        email.addClass('error');
                        email.css("border", "solid 1px red");
                        email.attr("placeholder","This field is required");
                        return false;
                    }else if(!emailReg.test(email.val())){
                        email.addClass("error");
                        email.css("border", "solid 1px red");
                        email.attr("placehoder", "Please provide valid email address");
                        return false;
                    }else{
                        email.removeClass("error");
                        email.css("border","none");
                        return true;
                    }
                }
                email.blur(validate_email);
                email.keyup(validate_email);                            
                
                Form.submit(function(){
                    if(validate_email()){
                        return true;
                    }else{
                        return false;
                    }
                });
            });   
            </script>                
                
			</div>
			<div class="clear"></div>
		</div>
	</div>
	<!--End Content Wrapper-->
{% endblock %}
