{% extends 'base.html'%}
{% block body %}
  <h1>Change password</h1>
  <form action="{% url 'reset_password'%}" method="POST">
    {% csrf_token %}
    {{form.as_p}}
    <input type="submit">
  </form>
{% endblock %}
