{% extends 'base.html'%}
{% load i18n static %}

{% block head_title %}{% trans 'Password change' %}{% endblock %}

{% block body %}

<!--Start Content Wrapper-->
<div class="content_wrapper">
    <div class="container_24">
        <div class="grid_24">
            <div class="grid_17 alpha">
                <!--Start Content-->
                <div class="content">
                    <h1 class="page_title">{% trans 'Change password' %}</h1>
                    <div id="contact">
                        
                        {% if form.errors %}
                        <!-- Error messaging -->
                        <div class="errors">                            
                            <p>There were some errors in the information you entered. Please correct the following:</p>
                            {{ form.non_field_errors }}
                            <ul>
                                {% for field in form %}
                                    {% if field.errors %}<li>{{ field.label }}: {{ field.errors|striptags }}</li>{% endif %}
                                {% endfor %}
                            </ul>                            
                        </div>
                        <!-- /Error messaging -->
                        {% endif %}
                        
                        <form action="" method="POST" class="contactform" id="contactForm">
                            {% csrf_token %}
                        
                            <label>Old Password{% if form.old_password.field.required %}<span class="required">*</span>{% endif %}</label>
                            <br/>                                                        
                            {{ form.old_password }}
                            <br/>
                            
                            <label>New Password{% if form.new_password1.field.required %}<span class="required">*</span>{% endif %}</label>
                            <br/>                                                        
                            {{ form.new_password1 }}
                            <br/>
                            
                            <label>New Password (again){% if form.new_password2.field.required %}<span class="required">*</span>{% endif %}</label>
                            <br/>                                                        
                            {{ form.new_password2 }}
                            <br/>
                           
                            <div class="clear"></div>
                            <input type="hidden" name="captchacode" value="4"/>
                            
                            <input  class="btnSubmit" type="submit" name="submit" value="Submit"/>
                            <script type="text/javascript">document.getElementById("id_old_password").focus();</script>
                        </form>                         
                    </div>
                </div>
                <!--End Content-->
            </div>
           
                
                <div class="grid_7 omega">
					{% include 'sidebar.html' %}
				</div>
			</div>
			<div class="clear"></div>
		</div>
	</div>
	<!--End Content Wrapper-->

{% endblock %}
