{% extends 'base.html' %}

{% block head_title %}Login or Register{% endblock %}

{% block body %}


<!--Start Content Wrapper-->
<div class="content_wrapper">
	<div class="container_24">
		<div class="grid_24">
			<div class="grid_17 alpha">
				
				<!--Start Content-->
				<div class="content">
					
					<h1 class="page_title"></h1>
					<div class="reg_error"></div>
					<h1>Create a free Account</h1>
                    <div id="loginform">
	                    
                        
                        <script type="text/javascript">
	                    jQuery(document).ready(function ($) {

	                        var user_fname = jQuery("#userid");
	                        var user_fname_error = jQuery("#user_error");
	                        function validate_user_name()
	                        {
	                            if (jQuery("#userid").val() == "")
	                            {
	                                user_fname.addClass("error");
	                                user_fname_error.text("Please Enter User name");
	                                user_fname_error.addClass("error");
	                                return false;
	                            }
	                            else {
	                                user_fname.removeClass("error");
	                                user_fname_error.text("");
	                                user_fname_error.removeClass("error");
	                                return true;
	                            }
	                        }
	                        user_fname.blur(validate_user_name);
	                        user_fname.keyup(validate_user_name);

	                        var user_email = jQuery("#email");
	                        var user_email_error = jQuery("#email_error");
	                        function validate_user_email()
	                        {
	                            if (jQuery("#email").val() == "")

	                            {
	                                user_email.addClass("error");
	                                user_email_error.text("Please Enter E-mail");
	                                user_email_error.addClass("error");
	                                return false;
	                            }
	                            else

	                            if (jQuery("#email").val() != "")
	                            {
	                                var a = jQuery("#email").val();
	                                var emailReg = /^([\w-\.]+@([\w-]+\.)+[\w-]{2,4})?$/;
	                                if (jQuery("#email").val() == "") {
	                                    user_email.addClass("error");
	                                    user_email_error.text("Please provide your email address");
	                                    user_email_error.addClass("error");
	                                    return false;
	                                } else if (!emailReg.test(jQuery("#email").val())) {
	                                    user_email.addClass("error");
	                                    user_email_error.text("Please provide valid email address");
	                                    user_email_error.addClass("error");
	                                    return false;
	                                } else {
	                                    user_email.removeClass("error");
	                                    user_email_error.text("");
	                                    user_email_error.removeClass("error");
	                                    return true;
	                                }


	                            } else
	                            {
	                                user_email.removeClass("error");
	                                user_email_error.text("");
	                                user_email_error.removeClass("message_error2");
	                                return true;
	                            }
	                        }
	                        user_email.blur(validate_user_email);
	                        user_email.keyup(validate_user_email);

	                        var pwd = jQuery("#password1");
	                        var pwd_error = jQuery("#pw_error");

	                        function validate_pwd()
	                        {
	                            if (jQuery("#password1").val() == "")

	                            {
	                                pwd.addClass("error");
	                                pwd_error.text("Please enter password");
	                                pwd_error.addClass("error");
	                                return false;
	                            }
	                            else {
	                                pwd.removeClass("error");
	                                pwd_error.text("");
	                                pwd_error.removeClass("#error");
	                                return true;
	                            }
	                        }
	                        pwd.blur(validate_pwd);
	                        pwd.keyup(validate_pwd);
	                        var cpwd = jQuery("#password2");

	                        var cpwd_error = jQuery("#pw_error2");

	                        function validate_cpwd()
	                        {
	                            if (jQuery("#password2").val() == "")

	                            {
	                                cpwd.addClass("error");
	                                cpwd_error.text("Please enter confirm password");
	                                cpwd_error.addClass("error");
	                                return false;
	                            } else if (jQuery("#password1").val() != jQuery("#password2").val()) {
	                                cpwd.addClass("error");
	                                cpwd_error.text("Please confirm your password");
	                                cpwd_error.addClass("error");
	                                return false;
	                            }
	                            else {
	                                cpwd.removeClass("error");
	                                cpwd_error.text("");
	                                cpwd_error.removeClass("error");
	                                return true;
	                            }
	                        }
	                        cpwd.blur(validate_cpwd);
	                        cpwd.keyup(validate_cpwd);
	                        function validate_captcha() {
	                            var captcha_val = jQuery('#captcha').val();
	                            var get_captcha = jQuery('#capcode').val();
	                            var captcha_error = jQuery('.captcha_error');
	                            if (captcha_val === get_captcha) {
	                                captcha_error.removeClass("error");
	                                captcha_error.text("");
	                                captcha_error.removeClass("error");
	                                return true;
	                            } else if (!captcha_val) {
	                                return true;
	                            } else {
	                                captcha_error.addClass("error");
	                                captcha_error.text("Please enter captcha");
	                                captcha_error.addClass("error");
	                                return false;
	                            }
	                        }
	                        jQuery('#capcode').blur(validate_captcha);
	                        jQuery('#capcode').keyup(validate_captcha);
	                        function validate_terms() {
	                            var terms = jQuery('#terms');
	                            var term_error = jQuery('.term_error');
	                            //var term_check = jQuery('#termcheck');
	                            if (terms.is(':checked')) {
	                                term_error.removeClass("error");
	                                term_error.text("");
	                                term_error.removeClass("error");
	                                return true;
	                            } else {
	                                term_error.addClass("error");
	                                term_error.text("You must agree terms and conditions.");
	                                term_error.addClass("error");
	                                return false;
	                            }
	                        }
	                    });
	                </script>
	                <div id="register">
	                    <h1 class="form_tag">Register</h1>			
		                <form id="registerform" class="registerForm" name="registration" action="{% url 'register'%}" method="post">
		                    {% csrf_token %}
		                    {% if form.errors %}
	                        <!-- Error messaging -->
	                        <div class="errors">
			                        <p>There were some errors in the information you entered. Please correct the following:</p>
			                        {{ form.non_field_errors }}
			                        <ul>
				                        {% for field in form %}
					                        {% if field.errors %}<li>{{ field.label }}: {{ field.errors|striptags }}</li>{% endif %}
				                        {% endfor %}
			                        </ul>
	                        </div>
	                        <!-- /Error messaging -->
                            {% endif %}  		                    
		                    		                    
		                    <div class="label">
				                <label for="username">Username{% if form.username.field.required %}<span class="required">*</span>{% endif %}</label>
			                </div>
			                <div class="row">
				                {{ form.username }}
				                <p class="description">{{ form.username.help_text }}</p>
				                <p id="user_error"></p>
			                </div>
			                <div class="label">
				                <label for="email">Email{% if form.email.field.required %}<span class="required">*</span>{% endif %}</label>
			                </div>
			                <div class="row">
				                {{ form.email }}
				                <p id="email_error"></p>
			                </div>
			                <div class="label">
				                <label for="password1">Enter a Password{% if form.password1.field.required %}<span class="required">*</span>{% endif %}</label>
			                </div>
			                <div class="row">
				                {{ form.password1 }}
				                <p id="pw_error"></p>
			                </div>
			                <div class="label">
				                <label for="password2">Enter a Password  again{% if form.password2.field.required %}<span class="required">*</span>{% endif %}</label>
			                </div>
			                <div class="row">
				                {{ form.password2 }}
				                <p id="pw_error2"></p>
			                </div>
			                <input type="submit" name="register" value="Register" class="submit" tabindex="103" />
		                </form>
	                </div>
	
	                <div class="clear"></div>			
					
				</div>
				<!--End Content-->
			</div>
			
		</div>
		<div class="grid_7 omega">
				{% include 'sidebar.html' %}
			</div>
		<div class="clear"></div>
	</div>
</div>
<!--End Content Wrapper-->

{% endblock %}
