{% extends "base.html" %}

{% block head_title %}Update User Profile{% endblock %}

{% block body %}

<!--Start Cotent Wrapper-->
<div class="content_wrapper">
    <div class="container_24">
        <div class="grid_24">
            <div class="grid_17 alpha">
                <!--Start Content-->
                <div class="content" id="dashboard">
                    
                    <h1>Edit Profile</h1>
                    <div id="add_post">
                        <form   name="edit_profile_form" 
                                id="edit_profile_form" 
                                action="{% url 'update_profile' %}" 
                                method="post" 
                                enctype="multipart/form-data">
                                {% csrf_token %}
                                
                            {% if form.errors %}
	                        <!-- Error messaging -->
	                        <div id="errors">
		                        <div class="inner">
			                        <p>There were some errors in the information you entered. Please correct the following:</p>
			                        {{ form.non_field_errors }}
			                        <ul>
				                        {% for field in form %}
					                        {% if field.errors %}<li>{{ field.label }}: {{ field.errors|striptags }}</li>{% endif %}
				                        {% endfor %}
			                        </ul>
		                        </div>
	                        </div>
	                        <!-- /Error messaging -->
                            {% endif %}
                                
                            <div class="label">
                                <label for="user">User Name:</label>
                            </div>
                            <div class="row">
                                {{ form.username }}
                                <span class="description">Usernames cannot be changed. {{ form.username.help_text }}</span>
                            </div>
                            <div class="label">
                                <label for="email">Your Email:</label>
                            </div>
                            <div class="row">
                                {{ form.email }}
                                <span class="description">Your email (Required).</span>
                            </div>
                            <div class="label">
                                <label for="first_name">Password:</label>
                            </div>
                            <div class="row">
                                <a href="{% url 'password_change' %}">Change password here</a>
                            </div>               
                            <div class="row">
                                <input type="submit" name="edit_profile" value="Update Profile" />
                            </div>
                        </form>
                    </div>      
                </div>
                <!--End Content-->
            </div>
            <div class="grid_7 omega">
            {% if user.is_authenticated %}
                {% include 'sidebar_dashboard.html' %}
            {% else %}
                {% include 'sidebar.html' %}
            {% endif %}
            </div>
        </div>
        <div class="clear"></div>
    </div>
</div>
<!--End Content Wrapper-->

{% endblock %}
