@import url(960_24_col_responsive.css);
@import url(reset.css);
@import url(http://fonts.googleapis.com/css?family=Ubuntu:regular,bold&subset=Latin);
body {
    font: 14px/1.5 'Ubuntu', arial;
    font-family: Ubuntu, arial;
    color: #505050;
    line-height:25px;
    background-color:#ececec;
}
:focus {
    outline:none;
}
input[type="submit"]{
    cursor:pointer;    
}
h1, h2, h3, h4, h5, h6 {
    margin-bottom:15px;
}
/* For safari */
body:first-of-type h1,
body:first-of-type h2,
body:first-of-type h3,
body:first-of-type h4,
body:first-of-type h5,
body:first-of-type h6{
    font-weight: 500;
}
h1 {
    font-size:24px;
}
h2 {
    font-size:22px;
}
h3 {
    font-size:20px;
}
h4 {
    font-size:18px;
}
h5 {
    font-size:16px;
}
h6 {
    font-size:14px;
}
a {
    text-decoration:none;
    color: #0c5b7f;
}
a:hover{
    color:#309ed1;
}
p, dl, hr, h1, h2, h3, h4, h5, h6, ol, ul, pre, table, address, fieldset, figure {
    margin-bottom: 20px;
}
.wrapper{
    width: 990px;
    margin:20px auto;
    margin-bottom: 0;
    padding-top: 15px;
    box-shadow: 0px -1px 9px #c4c2c2; 
    -moz-box-shadow: 0px -1px 9px #c4c2c2;  
    -webkit-box-shadow: 0px -1px 9px #c4c2c2;
    background-color:#fff;
}
.header .logo img{
    max-width: 750px;
    height: auto;
}
.header .post_add_btn{
    float: right;
    color: #fff;
    font-size: 16px;
    font-weight: bold;
    line-height: 50px;
}
.header .post_add_btn .btn_left{
    background: url('../images/btn-left.png') no-repeat;
    width: 5px;
    height: 49px;
    display: inline-block;
    float: left;
}
.header .post_add_btn .btn_center{
    background: url('../images/btn-center.png') repeat-x;
    height: 49px;
    display: inline-block;
    float: left;
    padding-right: 8px;
    padding-left: 8px;
}
.header .post_add_btn .btn_right{
    background: url('../images/btn-right.png') no-repeat;
    width: 34px;
    height: 49px;
    display: inline-block;
    float: left;
}
.header .post_add_btn:hover .btn_left{
    background: url('../images/btn-left-hover.png') no-repeat;
}
.header .post_add_btn:hover .btn_center{
    background: url('../images/btn-center-hover.png') repeat-x; 
    display: inline-block;
    max-width: 200px;
}
.header .post_add_btn:hover .btn_right{
    background: url('../images/btn-right-hover.png') no-repeat;
}
.top_header #user_acces{
    float: right;
    margin-bottom:8px;
}
.top_header #user_acces li{
    display: inline-block;
    margin-left: 15px;    
}
.top_header #user_acces li.login{
    background: url('../images/login-key.png') left no-repeat;    
    padding-left: 12px;
}
.top_header #user_acces li.dashboard{
    background: url('../images/dashboard-icon.png') left no-repeat;
    padding-left: 18px;
}
.top_header #user_acces li.logout{
    background: url('../images/logout-icon.png') left no-repeat;
    padding-left: 18px;
}
.top_header #user_acces li a{
    color: #878584;
}
/*==============================================================*/
/* Menus */
/*==============================================================*/
.menu_wrapper{
    background: url('../images/menu-bg.png') #134f92 repeat-x;  
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    margin-bottom: -15px;
    margin-top:20px;
}
#menu {
    position:relative;
    z-index:1000;
}
#menu li {
    font-size:13px;
    background:none;
    margin:0 3px 0 0;
    padding:0;
}
#menu li a {
    position:relative;
    float:left;
    color:#fff;
    text-align:center;
    text-decoration:none;
    margin:0;
    padding:5px 0;
    padding-right:18px; 
}
#menu li:first-child a{
    padding-left: 15px !important;
}
#menu .ddsmoothmenu li:last-child{
    background-image: none;
}
#menu li.current-menu-item a, 
#menu li.current-menu-parent a, 
#menu li.current_page_parent a,
#menu li a.selected, #menu li a:hover {
    margin:0;
    padding:5px 0;
    padding-right:18px;
}
#menu li li a, #menu li li a.selected, 
#menu li li a:hover {
    border:none;
    border-radius:0;
    -moz-border-radius:0;
    -khtml-border-radius:0;
    -webkit-border-radius:0;
}
#menu li.current-menu-item a:hover, 
#menu li.current-menu-parent a:hover, 
#menu li.current_page_parent a:hover, 
#menu li a:hover.selected {
    text-decoration:none;
}
#menu .ddsmoothmenu {
    list-style:none;
    position:relative;
    z-index:10000;
    margin:8px 0 0;
    padding:0;
}
#menu .ddsmoothmenu li > ul {
    list-style-type: none;
}
#menu .ddsmoothmenu li > ul li > ul {
    margin-top:1px;
}
#menu .ddsmoothmenu li {
    position:relative;
    display:inline;
    float:left;
    background: url('../images/menu-line.png') no-repeat right;
    margin-right:20px;
}
#menu .ddsmoothmenu li li {
    font:12px Arial, Helvetica, sans-serif!important;
    text-transform:capitalize;
    background: #17569b;
    background-image: none;
    color:#FFF;
    margin:0;
    padding:0;
}
#menu .ddsmoothmenu li li a {
    width:130px;
    height:auto;
    float:none;
    display:block;
    text-align:left;
    color:#FFF;
    text-shadow:none;
    text-decoration:none;
    background:none;
    position:relative;
    border-top:1px solid rgba(0, 0, 255, 0.1);
    margin:0;
    padding:10px 18px;
}
#menu .ddsmoothmenu li li a:after {
    width:100%;
    content:'';
    position:absolute;
    left:0;
    top:0;
    border-top:1px solid rgba(255, 255, 255, 0.1);
}
#menu .ddsmoothmenu li li li li:last-child a, 
#menu .ddsmoothmenu li li li li:last-child a:after {
    border-top:none;
}
#menu .ddsmoothmenu li li:last-child a:after {
    width:100%;
    content:'';
    position:absolute;
    left:0;
    bottom:0;
    border-bottom:1px solid rgba(0, 0, 255, 0.1);
}
* html #menu .ddsmoothmenu li li a {
    display:inline-block;
}
#menu .ddsmoothmenu li li a:link, 
#menu .ddsmoothmenu li li a:visited {
    color:#fff;
}
#menu .ddsmoothmenu li li a.selected, 
#menu .ddsmoothmenu li li a:hover {
    background:#1762b6;
}
#menu .ddsmoothmenu li ul {
    position:absolute;
    left:0;
    display:none;
    visibility:hidden;
}
#menu .ddsmoothmenu li ul li {
    display:list-item;
    float:none;
}
#menu .ddsmoothmenu li ul li ul {
    padding-top:0;
    background:none;
    top:0;
    margin-top:0;
}
* html .ddsmoothmenu {
    height:1%;
}
.downarrowclass {
    position:absolute;
    width:0;
    height:0;
    overflow:hidden;
    top:0;
    right:0;
    display:none!important;
}
.rightarrowclass {
    display:block;
    width:5px;
    height:7px;
    position:absolute;
    margin-top:-3px;
    top:50%;
    right:8px;
}
.ddshadow {
    width:0;
    height:0;
    position:absolute;
    left:0;
    top:0;
    display:none;
}
/*==============================================================*/
/* Advance Search */
/*==============================================================*/
.search_wrapper{
    background-color: #f2f0f0;
    padding: 22px 0;
    padding-top: 35px;
}
.search_wrapper .search_item{
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    -moz-box-shadow: inset 0 9px 9px -5px #dfdddd;
    -webkit-box-shadow: inset 0 9px 9px -5px #dfdddd;
    box-shadow: inset 0 9px 9px -5px #dfdddd;
    background-color: #fff;
    width:265px;
    float: left;
    padding: 14px 8px;
    margin-right: 20px;
    font-size: 14px;
    text-align: center;
    border:1px solid #dfdddd 
}
.search_wrapper .search_item.first{
    background-image: url('../images/lence.png');
    background-repeat: no-repeat;
    background-position: 10px center;
}
.search_wrapper .search_item.first input[type="text"]{
    margin-left: 25px;
    width: 200px;
    font-size: 14px;
    border:none;
}
.search_wrapper .search_item.second{
    position: relative;
    padding: 10px 0;
}
.search_wrapper .search_item.second select{
    width: 220px;
    color:#c6c6c6;
    font-size: 14px;
    border:none;
    background: transparent url('../images/select-arrow.png') right no-repeat;
    -webkit-appearance: none;
}
.search_wrapper .search_item.second span.select{
    position:absolute;
    top:5px;
    float:left;
    left:0;
    width: 220px;
    line-height:26px;
    background: url('../images/select-arrow.png') right no-repeat;
    cursor:default;
}
.search_wrapper .search_item.third{
    width: 320px;
    margin-right: 0;
    float: right;
    position: relative;
    text-align: left;
    background-image: url('../images/loc.png');
    background-repeat: no-repeat;
    background-position: 10px center;
}
.search_wrapper .search_item.third input[type="text"]{
    border: none;
    background: transparent;
    margin-left: 30px;
}
.search_wrapper .search_item.third .search_submit{
    background: url('../images/search-button.png') no-repeat 0 0;
    width: 87px;
    height: 39px;
    border: none;
    color: #fff;
    text-shadow: 0 1px 0 #769a31;
    font-size: 14px;
    position: absolute;
    right: 3px;
    top: 3px;
    text-transform:uppercase;
}
.search_wrapper .search_item.third .search_submit:hover{
    background: url('../images/search-button.png') no-repeat 0 -44px;
}
.sidebar #searchform,
.content #searchform{
    position: relative;
    background: url('../images/single-search.png') no-repeat;
    width: 240px;
    height: 24px;
    margin-bottom: 20px;
}
.sidebar #searchform input[type="text"],
.content #searchform input[type="text"]{
    margin-left: 5px;
    background: transparent;
    width: 188px;
    height: 16px;
    border: none;
    padding-left: 5px;
    padding-top: 4px;
    color: #a7aabc;
}
.sidebar #searchform input[type="submit"],
.content #searchform input[type="submit"]{
    background: url('../images/s-search-icon.png') no-repeat;
    width:12px;
    height: 12px;
    border: none;
    position: absolute;
    right:10px;
    top:5px;
}
/* === DROPKICK CSS === */
/* One container to bind them... */
.search_wrapper .search_item .dk_container {
    font-size:14px;					/*changed to ems*/			/*changed to ems*/	
    white-space: nowrap;				/*added this so that everything stays neatly on one line*/
    margin-bottom: 0;
}

.search_wrapper .search_item .dk_container:focus {
    outline: 0;
}

.search_wrapper .search_item .dk_container a {
    cursor: pointer;
    text-decoration: none;
    color: #9e9e9e;
}
.search_wrapper .search_item .dk_container a:hover{
    color:#309ed1;
}
/* Opens the dropdown and holds the menu label */
.search_wrapper .search_item .dk_toggle {	
    background: url('../images/select-arrow.png') 95% 5px no-repeat;/*changed to ems*/
    display: block;
    width: 100%;
    user-select: none;
    text-align: left;
}
.search_wrapper .search_item .dk_toggle,
.search_wrapper .search_item .dk_toggle:hover{
    color: #9e9e9e;
}
.search_wrapper .search_item .dk_toggle .dk_label{
    margin-left: 15px;
}
/* Applied whenever the dropdown is open */
.search_wrapper .search_item .dk_open {
    z-index: 10;
}

.search_wrapper .search_item .dk_open .dk_toggle {
    background: url('../images/select-arrow.png')95% 5px no-repeat;
    /*REMOVES ARROW IMAGE*/			/*changed to ems*/
    z-index: 30;
}

.search_wrapper .search_item .dk_open .dk_toggle:after {
    /*I've removed a load of styles here, as they're all inherited from .dk_toggle:after */
    color: #9e9e9e;	
    text-shadow: 0 0 .05em #272a2c;		/*changed to ems*/
}
.search_wrapper .search_item .dk_options{
    margin-top: 8px;
}
.search_wrapper .search_item .dk_options a {
    padding: 0 1em;
    line-height: 2.5em;				/*added this instead of the padding top/bottom. we can now calculate it exactly */
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.search_wrapper .search_item .dk_options li {
    background-color: #fbfbfb;
}

.search_wrapper .search_item .dk_options li:first-child {
    display: none;
}

.search_wrapper .search_item .dk_options li{
    border-bottom: 1px solid #e8e8e8;
}

.search_wrapper .search_item .dk_options li:last-child #divider {
    display: none;
}

.search_wrapper .search_item .dk_options a:hover,
.search_wrapper .search_item .dk_option_current a {
    text-decoration: none;
    text-shadow: 0 .05em 0 #282b2e;		/*change to ems*/
}

/* Inner container for options, this is what makes the scrollbar possible. */
.search_wrapper .search_item .dk_options_inner {
    background-color:#fbfbfb; 
    color: #a2a8ad;
    /*max-height: 250px;				I've gotten rid of this */
    text-shadow: #282b2e 0 .05em 0;		/*change to ems*/
    border-radius: 0 0 .4em .4em;
    max-height: 310px;/*change to ems*/
    overflow-y:scroll;
}

/* Set a max-height on the options inner */
.search_wrapper .search_item .dk_options_inner,
.search_wrapper .search_item .dk_touch .dk_options {
    /*max-height: 250px;			not sure why?*/    
    box-shadow: 0 1px 5px rgba(0, 0, 0, .25); 
    -moz-box-shadow: 0 1px 5px rgba(0, 0, 0, .25);  
    -webkit-box-shadow: 0 1px 5px rgba(0, 0, 0, .25);
}

/******  End Theme ******/
/***** Critical to the continued enjoyment of working dropdowns ******/
.search_wrapper .search_item .dk_container {
    display: none;
    position: relative;
}

.search_wrapper .search_item .dk_container a {
    /*width: auto!important; I don't like using !important, but this needs to override a fixed pixel width which is added inline by the dropkick script - or comment out line 116 in the js*/
    outline: 0;
}

.search_wrapper .search_item .dk_toggle {
    display: -moz-inline-stack;
    display: inline-block;
    *display: inline;
    position: relative;
    zoom: 1;
}

.search_wrapper .search_item .dk_open {
    position: relative;
}

.search_wrapper .search_item .dk_open .dk_options {
    display: block;
}

.search_wrapper .search_item .dk_open .dk_label {
    color: inherit;
}

.search_wrapper .search_item .dk_options {
    display: none;			/*change to ems*/
    position: absolute;
    right: 0;
    width: 100%;
    text-align: left;
}

.search_wrapper .search_item .dk_options a,
.search_wrapper .search_item .dk_options a:link,
.search_wrapper .search_item .dk_options a:visited {
    display: block;
}

.search_wrapper .search_item .dk_options_inner {
    overflow: auto;
    position: relative;
}

.search_wrapper .search_item .dk_touch .dk_options {
    overflow: hidden;
}

.search_wrapper .search_item .dk_touch .dk_options_inner {
    max-height: none;
    overflow: visible;    
}

.search_wrapper .search_item .dk_fouc select {
    position: relative;
    top: -99999em;
    visibility: hidden;
}
/*==============================================================*/
/* Contents */
/*==============================================================*/
.content_wrapper{
    padding_bottom:30px;
}
.content_wrapper ul,
.content_wrapper ol{
    list-style-position: inside;
}
.content_wrapper .content{
    padding-right: 30px;
    padding-top: 20px;
    padding-bottom: 20px;
}
/*==============================================================*/
/* Blog Post */
/*==============================================================*/
.content_wrapper .content .post{
    margin-bottom: 20px;
    border-bottom: 1px solid #e0e0e0;
}
.content_wrapper .content .post .postimg{
    float: left;
    width: 128px;
    height: 108px;
    margin-right: 10px;
    margin-bottom: 10px;
    padding: 4px;
    background: #fff;
    border: 1px solid #ccc;
}
.content_wrapper .content .post .read_more{
    background:#767676;
    display: inline-block;
    font-size: 11px;
    color: #fff;
    height: 20px;
    line-height: 20px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    padding: 0 15px;
    margin-left: 10px;
}
.content_wrapper .content .post .post_meta{
}
.content_wrapper .content .post .post_meta li{
    display: inline;
    margin-right: 10px;
    padding-left: 15px;
}
.content_wrapper .content .post .post_title{
    margin-bottom: 8px;
}
.content_wrapper .content .post .post_title a{
    color: #000;
}
.content_wrapper .content .post .post_meta li.estimate{
    background: url('../images/estimate.png') no-repeat left;
}
.content_wrapper .content .post .post_meta li.cate{
    background: url('../images/cate.png') no-repeat left;
}
.content_wrapper .content .post .post_meta li.author{
    background: url('../images/author.png') no-repeat left;
}
.content_wrapper .content .classi{
    padding-bottom: 15px;
}
.content_wrapper .content .classi .post_title{
    color: #2f5884;
    border-bottom: 1px solid #ccc;
    padding-bottom: 8px;
}
.content_wrapper .content .classi .price_meta{
    display: inline-block;
    height: 50px;
    font-size: 22px;
    text-align: center;
    color: #fff;
    line-height: 45px;
    float: left;
    margin-right: 20px; 
}
.content_wrapper .content .classi .price_meta .price_left{
    background: url('../images/price_left.png') no-repeat;
    width: 18px;
    height: 50px;
    float: left;
    display: inline-block;
}
.content_wrapper .content .classi .price_meta .price_center{
    background: url('../images/price_center.png') repeat-x;
    display: inline-block;
    height: 50px;
    float: left;
}
.content_wrapper .content .classi .price_meta .price_right{
    background: url('../images/price_right.png') no-repeat;
    width: 30px;
    height: 50px;
    display: inline-block;
}
.content_wrapper .content .classi .post_meta{
    margin-top: 20px;
}
.content_wrapper .content .classi .views{
    background: url('../images/view.png') no-repeat left;
    padding-left: 20px;
    display: inline-block;
    color: #17569b;
}
.content_wrapper #author-info {
    margin-bottom: 20px;
    background-color: #f2f1f1;
    border: 1px solid #e4e4e4;
}
.content_wrapper #author-info .author-inner{
    border: 1px solid #fff;
    padding:10px;
}
.content_wrapper #author-info #author-avatar {
    float:left;
    margin-right: 15px;
    margin-bottom: 5px;
}
.content_wrapper #author-info #author-avatar img{
    border: 1px solid #ccc;
    background-color: #fff;
    padding: 4px;
}
#nav-single {
    overflow:hidden;
    margin-bottom:20px;
}
.nav-previous {
    float: left;
    width: 50%;
}
.nav-next {
    float: right;
    text-align: right;
    width: 50%;
}
/*==============================================================*/
/* Flex slider */
/*==============================================================*/
/* Browser Resets */
.flex-container a:active, 
.flexslider a:active, 
.flex-container a:focus, 
.flexslider a:focus {
    outline: none;
}
.slides, 
.flex-control-nav, 
.flex-direction-nav {
    margin: 0;
    padding: 0;
    list-style: none;
}
/* FlexSlider Necessary Styles
*********************************/
.flexslider {
    width: 100%;
    margin: 0;
    padding: 0;
    height:50%;
    overflow: hidden;
}
.flexslider .slides > li {
    display: none;
    -webkit-backface-visibility: hidden;
} /* Hide the slides before the JS is loaded. Avoids image jumping */
.flexslider .slides img {
    width:277px;
    display: block;
    height:220px;
    padding: 4px;
    border: 1px solid #ccc;
    background: #fff;
    margin-left: 2px;
}
.flex-pauseplay span {
    text-transform: capitalize;
}
/* Clearfix for the .slides element */
.slides:after {
    content: ".";
    display: block;
    clear: both;
    visibility: hidden;
    line-height: 0;
    height: 0;
}
html[xmlns] .slides {
    display: block;
}
* html .slides {
    height: 1%;
}
/* No JavaScript Fallback */
/* If you are not using another script, such as Modernizr, make sure you
 * include js that eliminates this class on page load */
.no-js .slides > li:first-child {
    display: block;
}
/* FlexSlider Default Theme
*********************************/
.flexslider {
    background: #fff;
    border: 4px solid #fff;
    position: relative;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -o-border-radius: 5px;
    border-radius: 5px;
    zoom: 1;
    margin-bottom: 20px;
}
.flexslider .slides {
    zoom: 1;
}
.flexslider .slides > li {
    position: relative;
}
/* Suggested container for "Slide" animation setups. Can replace this with your own, if you wish */
.flex-container {
    zoom: 1;
    position: relative;
}
/* Caption style */
/* IE rgba() hack */
.flex-caption {
    background:none;
    -ms-filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#4C000000, endColorstr=#4C000000);
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#4C000000, endColorstr=#4C000000);
    zoom: 1;
}
.flex-caption {
    width: 96%;
    padding: 2%;
    margin: 0;
    position: absolute;
    left: 0;
    bottom: 0;
    background: rgba(0, 0, 0, .3);
    color: #fff;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, .3);
    font-size: 14px;
    line-height: 18px;
}
/* Direction Nav */
.flex-direction-nav {
    height: 0;
}
.flex-direction-nav li a {
    margin: -13px 0 0;
    display: block;
    position: absolute;
    bottom: 6px;
    cursor: pointer;
    text-indent: -999em;
}
.flex-direction-nav li .next {
    background:url(../images/next.png) no-repeat;
    left:34px;
    width:31px;
    height:24px;
    bottom: 5px;
}
.flex-direction-nav li .prev {
    left:10px;
    background:url(../images/prev.png);
    width:31px;
    height:24px;
    left:7px;
    bottom: 5px;
}
.flex-direction-nav li .disabled {
    opacity: .3;
    filter:alpha(opacity=30);
    cursor: default;
}
/* Control Nav */
.flex-control-nav {
    width: 100%;
    position: absolute;
    bottom: -30px;
    text-align: center;
}
.flex-control-nav li {
    margin: 0 0 0 5px;
    display: inline-block;
    zoom: 1;
    *display: inline;
}
.flex-control-nav li:first-child {
    margin: 0;
}
.flex-control-nav li a {
    width: 13px;
    height: 13px;
    display: block;
    cursor: pointer;
    text-indent: -999em;
}
.flex-control-nav li a:hover {
    background-position: 0 -13px;
}
.flex-control-nav li a.active {
    background-position: 0 -26px;
    cursor: default;
}
.meta_slider{
    width: 293px;
    float: left;
    margin-right: 20px;
}
.meta_table .label{
    font-weight: bold;
    padding-right: 10px;
}
/*==============================================================*/
/* Subscribe Form */
/*==============================================================*/
.contact_widget .subscribe_form{
    position: relative;
    background: url('../images/form-bg.png');
    padding-top: 60px;
    width: 265px;
    border: 1px solid #ccc;
}
.contact_widget .subscribe_form .contact_header{
    position: absolute;
    top: 8px;
    left: -8px;
    background: url('../images/form_header.png') no-repeat;
    width: 273px;
    height: 47px;
    color: #fff;
    line-height: 45px;
    padding-left: 15px;
}
.contact_widget .subscribe_form .form_element{
    padding: 16px;
}
.contact_widget .subscribe_form .form_element input[type="text"]{
    background: url('../images/txt-field.png') repeat-x;
    height: 42px;
    width: 226px;
    border: 1px solid #c3c3c3;
    margin-bottom: 10px;
    padding-left: 5px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
}
.contact_widget .subscribe_form .form_element textArea{
    background: url('../images/area-field.png') repeat-x;
    height: 120px;
    width: 226px;
    border: 1px solid #c3c3c3;
    margin-bottom: 10px;
    padding-left: 5px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    font-family: "Arial";
}
.contact_widget .subscribe_form .form_element input[type="submit"]{
    background: url('../images/send.png') no-repeat;
    width: 141px;
    height: 40px;
    border: none;
    text-indent: -9999px;
}
/*==============================================================*/
/* Comments */
/*==============================================================*/
#commentsbox {
    margin:0;
}
#commentsbox .commentsection {
    background:#fff;
    border:1px solid #d2d2d2;
    margin-bottom:30px;
}
#commentsbox .post-info h3 {
    padding-bottom:10px;
}
ol.commentlist {
    clear:both;
    overflow:hidden;
    list-style:none;
}
ol.commentlist li.comment {
    line-height:18px;
    margin:10px 0;
}
ol.commentlist li.comment .comment-body {
    padding-right:60px;
    position:relative;
    border-bottom:1px dotted #d2d2d2;
    padding-bottom:17px;
}

ol.commentlist li.comment .comment-author {
    position:relative;
    display:block;
}
ol.commentlist li.comment .comment-author .cmt_frame {
    position:absolute;
    top:0;
    left:0;
}
ol.commentlist li.comment .comment-author a:link, 
ol.commentlist li.comment .comment-author a:visited {
    color:#090909;
    text-decoration:none !important;
    font-family:Century Gothic;
}
ol.commentlist li.comment .comment-author .fn {
    color:#090909;
    font-family:Century Gothic;
    text-transform:capitalize;
}
ol.commentlist li.comment .comment-author a.url {
    color:#090909;
    font-family:Century Gothic;
    text-transform:capitalize;
}
cite.fn {
    color:#000;
    font-style:normal;
}
ol.commentlist li.comment .comment-author .avatar {
    float:left;
    margin-right:10px;
    margin-top:4px;
    margin-left:4px;
    margin-bottom:10px;
    padding: 4px;
    background: #fff;
    border: 1px solid #ccc;
    width:50px;
    height:50px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
}
ol.commentlist li.comment .comment-meta a {
    color:#858484;
    text-decoration:none;
}
ol.commentlist li.comment p {
    line-height:22px;
    margin-top:5px;
    color:#666;
}
ol.commentlist li.comment .reply {
    margin-top:10px;
    font-size:12px;
    padding-bottom:20px;
    display:block;
    position:absolute;
    right:0;
    bottom:0;
}
ol.commentlist li.comment .reply a {
    display:inline-block;
    border:1px solid #c0bfbf;
    font-weight:bold;
    padding:2px 15px;
    background: #f5dcbe;
    color:#8b8888;
}
ol.commentlist li.odd {
}
ol.commentlist li.even {
}
ol.commentlist li.comment ul.children {
    list-style:none;
    margin:1em 0 0;
    text-indent:0;
}
ol.commentlist li.comment ul.children li.depth-2 {
    margin:0 0 0px 50px;
}
ol.commentlist li.comment ul.children li.depth-3 {
    margin:0 0 0px 50px;
}
ol.commentlist li.comment ul.children li.depth-4 {
    margin:0 0 0px 50px;
}
ol.commentlist li.comment ul.children li.depth-5 {
    margin:0 0 0px 50px;
}
.comment-nav {
    padding:5px;
    height:20px;
}
.comment-nav a:link, .comment-nav a:visited {
    color:#f96e02;
}
.commentform {
    background:#fff;
    border:1px solid #d2d2d2;
    margin-bottom:30px;
}
#respond {
    padding-bottom:20px;
}
#commentform p {
    color:#444;
}
#commentform a {
    color:#0454A8;
}
#respond label {
    color:#322903;
    margin-bottom:5px;
    display:block;
}
#commentform input[type="text"] {
    width:360px;
    height:20px;
    display:block;
    margin-bottom:18px;
    height:36px;
    border:1px solid #e9e9e9;
    padding-left:5px;
    -moz-box-shadow: inset 0 0 9px -2px #dbdad6;
    -webkit-box-shadow: inset 0 0 9px -2px #dbdad6;
    box-shadow: inset 0 0 9px -2px #dbdad6;
}
#commentform input[type="text"]:focus{
    -moz-box-shadow: inset 0 0 9px -2px #20a0c5;
    -webkit-box-shadow: inset 0 0 9px -2px #20a0c5;
    box-shadow: inset 0 0 9px -2px #20a0c5;
}
#respond input#commentSubmit {
    clear:both;
    background: url('../images/btn-submit.png') no-repeat;
    width: 79px;
    height: 31px;
    border: 0;
    color:#fff;
    text-shadow: 0 1px 0 #5199b8;
    border:0;
    cursor:pointer;
    text-align:center;
    padding-left:20px;
    padding-right:20px;
}
textarea#comment {
    background:#fff;
    width:450px;
    height:141px;
    padding-left:5px;
    padding-top:5px;
    color:#555;
    clear:both;
    display:block;
    border:1px solid #e9e9e9;
    -moz-box-shadow: inset 0 0 9px -2px #dbdad6;
    -webkit-box-shadow: inset 0 0 9px -2px #dbdad6;
    box-shadow: inset 0 0 9px -2px #dbdad6;
}
textarea#comment:focus{
    -moz-box-shadow: inset 0 0 9px -2px #20a0c5;
    -webkit-box-shadow: inset 0 0 9px -2px #20a0c5;
    box-shadow: inset 0 0 9px -2px #20a0c5;
}

/*==============================================================*/
/* Sidebar */
/*==============================================================*/
.sidebar{
    padding-top: 20px;
    margin-bottom: 20px;
} 
.sidebar .sidebar_widget{
    margin-bottom: 30px !important;
}
.sidebar .sidebar_widget .widget-title{
    border-bottom: 2px solid #dfdede;
    padding-bottom: 10px;
}
.sidebar .sidebar_widget h5.head{
    border-bottom: 2px solid #dfdede;
    padding-bottom: 10px;
}
.sidebar .sidebar_widget ul{
    list-style-type: none;
}
.sidebar .sidebar_widget ul a{
    color:#787878;
}
.sidebar .sidebar_widget ul li{
    border-bottom: 1px solid #dfdede;
    margin-bottom: 10px;
    padding-bottom: 10px;
}
.sidebar .sidebar_widget .sidebar_thumbnail img.side_thumb{
    float: left;
    margin-right: 5px;
    margin-bottom: 10px;
    margin-top: 2px;
    box-shadow: 0 1px 5px rgba(0, 0, 0, .25); 
    -moz-box-shadow: 0 1px 5px rgba(0, 0, 0, .25);  
    -webkit-box-shadow: 0 1px 5px rgba(0, 0, 0, .25);
    border-radius: 4px; 
    -moz-border-radius: 4px; 
    -webkit-border-radius: 4px; 
    background-position: 0 100%;
    background-repeat: repeat-x;
    background-color: #FFFFFF;
    border: 1px solid #CCCCCC; 
    padding: 2px;
}
.sidebar .sidebar_widget .sidebar_thumbnail{
    line-height: 15px;
}
.sidebar .sidebar_widget .sidebar_thumbnail li{
    padding-bottom: 4px;
    margin-bottom: 15px;
}
.sidebar .sidebar_widget .sidebar_thumbnail h6{
    margin-bottom: 0;

}
.sidebar .sidebar_widget .sidebar_thumbnail h6 a{
    color: #406691; 
}
.sidebar .sidebar_widget .sidebar_thumbnail small{
    font-size: 10px;
    color: #929090;
}
.sidebar .sidebar_widget .sidebar_thumbnail p{
    font-size: 11px;
}
.sidebar .sidebar_map{
    border: 1px solid #d5d5d5;
    padding:8px;
    background-color:#fafafa;
    margin-bottom: 20px;
    display: block;
}
/*==============================================================*/
/* Footer */
/*==============================================================*/
.footer_wrapper{
    background-color: #2f5884;
    padding-top: 30px;
}
.footer,
.footer a{
    color: #FFFFFF;
}
.footer ul{
    list-style-position: inside;
}
.footer .footer_widget .head{
    padding-bottom: 10px;
    color:#fff;
    background: url('../images/footer-border.png') bottom repeat-x;
}
.footer .footer_widget{
    padding-right: 18px;
}
.footer .footer_widget.last{
    padding-right: 0;
}
.footer .footer_widget #searchform{
    position: relative;
    background: url('../images/search-bg.png') no-repeat;
    width: 190px;
    width: 160px;
    height: 30px;
    margin-bottom: 20px;
}
.footer .footer_widget #searchform input[type="text"]{
    border: none;
    background: transparent;
    color: #cccccc;
    padding-left: 10px;
    width: 120px;
    height: 30px;
}
.footer .footer_widget #searchform input[type="submit"]{
    position: absolute;
    top: 8px;
    right: 10px;
    background: url('../images/search-icon.png') no-repeat;
    width: 16px;
    height: 16px;
    border: none;
}
.footer_bottom{
    background: #163e68;
    padding-top: 10px;
    padding-bottom: 8px;
    color: #7997b6;
}
.footer_bottom .footer_menu{
    list-style-type: none;
    margin-bottom: 0;
}
.footer_bottom .footer_menu li{
    display: inline-block;
    margin-right: 10px;
    padding-right: 10px;
    background:url('../images/footer-line.png') right no-repeat; 
}
.footer_bottom .footer_menu li:last-child{
    background: none;
}
.footer_bottom .footer_menu li a{
    color: #7997b6;
}
.footer_bottom .copyright{
    float: right;
    margin-bottom: 0;
    margin-left:-6px;
}
.footer_bottom .social_icon{
    list-style-type: none;
    margin-bottom: 0;
}
.footer_bottom .social_icon li{
    display: inline-block;
}
/*==============================================================*/
/* Contact Page */
/*==============================================================*/
#contact #contactForm input[type="text"],
#contact #contactForm input[type="password"]{
    width: 434px;
    height: 30px;
    margin-bottom: 15px;
    border:1px solid #e9e9e9;
    padding-left:5px;
    -moz-box-shadow: inset 0 0 9px -2px #dbdad6;
    -webkit-box-shadow: inset 0 0 9px -2px #dbdad6;
    box-shadow: inset 0 0 9px -2px #dbdad6;
}
#contact #contactForm  input[type="text"]:focus,
#contact #contactForm  input[type="password"]:focus{
    -moz-box-shadow: inset 0 0 9px -2px #20a0c5;
    -webkit-box-shadow: inset 0 0 9px -2px #20a0c5;
    box-shadow: inset 0 0 9px -2px #20a0c5;
}
#contact #contactForm textarea{
    width: 434px;
    height: 140px;
    margin-bottom: 15px;
    padding-left:5px;
    padding-top:5px;
    border:1px solid #e9e9e9;
    -moz-box-shadow: inset 0 0 9px -2px #dbdad6;
    -webkit-box-shadow: inset 0 0 9px -2px #dbdad6;
    box-shadow: inset 0 0 9px -2px #dbdad6;
}
#contact #contactForm textArea:focus{
    -moz-box-shadow: inset 0 0 9px -2px #20a0c5;
    -webkit-box-shadow: inset 0 0 9px -2px #20a0c5;
    box-shadow: inset 0 0 9px -2px #20a0c5;
}
#contact #contactForm input[type="submit"]{
    background: url('../images/btn-submit.png') no-repeat;
    width: 79px;
    height: 31px;
    border: 0;
    color:#fff;
    text-shadow: 0 1px 0 #5199b8;
}

/*==============================================================*/
/* Featured Tabs */
/*==============================================================*/
#tabs{
    overflow: hidden;
    margin: 0;
    padding: 0;
    list-style: none;
    border: 1px solid #e1cdb9;
    float: left;
}

#tabs li{
    float: left;
    margin: 0 .5em 0 0;
    margin-left: 0;
    margin-right: 0;
}

#tabs a{
    position: relative;
    float: left;
    text-decoration: none;
    font-size: 12px;
    color: #444;
    text-shadow: 0 1px 0 rgba(255,255,255,.8);
    background: #f9ede1;
    display: inline-block;
    padding: 3px 10px;
    border-right: 1px solid #e1cdb9;
}

#tabs a:focus{
    outline: 0;
}

#tabs a::after{
    content:'';
    position:absolute;
    z-index: 1;
    top: 0; 
    bottom: 0;
}

#tabs #current a,
#tabs #current a::after{
    background: #fff;
    z-index: 3;
}
/*==============================================================*/
/* Grid List View */
/*==============================================================*/
#wrap { margin: 0 auto; border-radius: 7px;}
#wrap header { margin-bottom: 35px; position: relative;  }
#wrap header .list-style-buttons { 
    position: absolute; 
    right: 0; 
    border: 1px solid #e1cdb9;
}
/** list view **/
#wrap header .list-style-buttons a{
    background-color: #f9ede1;
    text-align: center;
    padding: 3px 5px;
    padding-left: 20px;
    font-size: 12px;
    color: #444444;
}
#wrap header .list-style-buttons a.active{
    background-color: #fff;
}
#gridview{
    background: url('../images/grid.png') 8px 12px no-repeat;
    display: inline-block;
    border-right: 1px solid #e1cdb9;
}
#listview{
    background: url('../images/list.png') 8px 12px no-repeat;
    display: inline-block;
    border-right: 1px solid #e1cdb9;
    background-color: #f9ede1;
    margin-left: -3px;
}
ul.list { list-style: none; width: 100%; }
ul.list li.thumbnail { 
    display: block;
    clear: both;
    margin-bottom: 20px;
    position: relative;
    border-bottom: 1px solid #ccc;
}
ul.list li.thumbnail h6{
    font-size: 16px;
}
ul.list .thumbs img{
    float: left;
    margin-right: 8px;
    border: 1px solid #e9eaeb;
    padding: 4px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    width: 78px;
    height: 78px;
}
ul.list .thumbs .thumb_item{
    float: right;
    text-align: center;
}
ul.list .thumbs .thumb_item .price{
    color:#ff723b;
    font-size: 22px;
    display: block;
}
ul.list .thumbnail .thumbs .thumb_item .view{
    background:url('../images/viewit.png') no-repeat 0 4px;
    width: 69px;
    height: 20px;
    display: inline-block;
    color: #fff;
    text-align: center;  
}
ul.list .thumbnail .contents .title{
    margin-bottom:5px;
}
ul.list li.thumbnail .post_meta li{
    display: inline;
    margin-right: 10px;
    padding-left: 15px;
}
ul.list li.thumbnail .post_meta li.estimate{
    background: url('../images/estimate.png') no-repeat left;
}
ul.list li.thumbnail .post_meta li.cate{
    background: url('../images/cate.png') no-repeat left;
}
ul.list li.thumbnail .post_meta li.author{
    background: url('../images/author.png') no-repeat left;
}
/** grid view **/
ul.grid { 
    list-style: none; margin: 0 auto;
    color: #222222;
    width:700px;
}
ul.grid li { 
    position: relative; 
    display: block; 
    float: left;
    width:200px; 
    height:170px;
    margin-right: 20px;
    padding-right: 15px;
    font-size: 13px;
    margin-top: 0;
    margin-bottom: 10px; 
    box-sizing: border-box; 
    -moz-box-sizing: border-box; 
    -webkit-box-sizing: border-box; 
}
ul.grid .thumbnail .thumbs img{
    float: left;
    margin-right: 5px;
    margin-bottom: 10px;
    border: 1px solid #e9eaeb;
    padding: 4px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    width: 78px;
    height: 78px;
}
ul.grid .thumbnail .thumbs{
    clear:both;
    display: block;
    overflow: hidden;
}
ul.grid .thumbnail .thumbs .thumb_item .price{
    color: #ff723b;
    width: 100%;
    font-size: 22px;
}
ul.grid .thumbnail .grid_content, 
ul.grid .thumbnail .post_meta{
    display: none;
}
ul.grid .thumbnail .thumbs .thumb_item .view{
    background:url('../images/viewit.png') no-repeat 0 4px;
    width: 69px;
    height: 20px;
    display: inline-block;
    color: #fff;
    text-align: center;
}
ul.grid li section.right span.darkview { 
    opacity: 0;
    margin: 0; 
    position: absolute;
    top: 0; 
    left: 0; 
    width: 190px; 
    height: 200px;
    margin: 0 15px; 
    border-radius: 6px;
    background: rgba(40, 45, 55, 0.75); 
    overflow: hidden;
    text-align: center;
    padding-top: 35px;
    box-sizing: border-box; 
    -moz-box-sizing: border-box; 
    -webkit-box-sizing: border-box;
    transition: opacity 0.2s linear 0s;
    -webkit-transition: opacity 0.2s linear 0s;
    -moz-transition: opacity 0.25s linear 0s;
    -o-transition: opacity 0.25s linear 0s;  
}
ul.grid li:hover section.right span.darkview { opacity: 1; }

ul.grid li section.right span.darkview a.firstbtn { display: block; margin-bottom: 10px; }

/*==============================================================*/
/* Add post */
/*==============================================================*/
#add_post{
    margin-bottom: 20px;
}
#add_post div{
    margin-bottom: 0;
}
#add_post .description{
    font-size: 10px;
    color: #999999;
    margin-bottom: 5px;
    display: block;
    float: left;
}
#add_post .label,
#loginform .label,
#register .label{
    clear: both;
    margin-bottom: 5px;
}
#add_post .row{
    clear: both;
    margin-bottom: 10px;
}
#add_post .row input[type="text"],
#add_post .row input[type="password"],
#add_post .row select{
    width:470px; 
    height: 30px;
    padding-left: 5px;
    border:1px solid #e9e9e9;
    -moz-box-shadow: inset 0 0 9px -2px #dbdad6;
    -webkit-box-shadow: inset 0 0 9px -2px #dbdad6;
    box-shadow: inset 0 0 9px -2px #dbdad6;
    clear: both;
    display:block;
    margin-bottom: 0;
}
#add_post .required,
.required{
    color: #c92404;
}
#add_post .row input[type="text"]:focus,
#add_post .row select:focus{
    -moz-box-shadow: inset 0 0 9px -2px #20a0c5;
    -webkit-box-shadow: inset 0 0 9px -2px #20a0c5;
    box-shadow: inset 0 0 9px -2px #20a0c5;
}
#fotget_pw input[type="submit"],
#add_post input[type="button"],
#add_post input[type="file"],
#add_post input[type="submit"]{
    background: url('../images/btn.png') repeat-x;
    border:1px solid #b9b9b9;
    padding: 1px 15px;
    -webkit-border-radius: 13px;
    -moz-border-radius: 13px;
    border-radius: 13px;
    color: #282829;
    text-shadow:0 1px 0 #fff;
    cursor: pointer;  
}
#add_post .row textArea{
    width: 539px;
    height: 200px;
    padding-left: 5px;
    padding-top: 5px;
    border:1px solid #e9e9e9;
    -moz-box-shadow: inset 0 0 9px -2px #dbdad6;
    -webkit-box-shadow: inset 0 0 9px -2px #dbdad6;
    box-shadow: inset 0 0 9px -2px #dbdad6;
    display: block;
}

#add_post .row textArea:focus{
    -moz-box-shadow: inset 0 0 9px -2px #20a0c5;
    -webkit-box-shadow: inset 0 0 9px -2px #20a0c5;
    box-shadow: inset 0 0 9px -2px #20a0c5;
}
#add_post .package{
    border: 1px solid #cccccc;
    margin-bottom: 10px;
    padding: 25px;
}
#add_post .package:hover{
    background-color:#e0e0e0;
}
#add_post .package input[type="radio"]{
    float: left;
}
#add_post .package .pkg_ct{
    margin-left: 28px;
    margin-top: -4px;
}
#add_post .pkg_ct h3{
    margin-bottom: 5px;
}
#add_post .package .cost span{
    margin-right: 20px;
}
#add_post .image_reset_button{
    background: url('../images/close.png') no-repeat;
    width: 32px;
    height: 32px;
    margin-left: -8px;
    margin-bottom: -30px;
    margin-top: 15px;
    position: relative;
    z-index: 10;
}
#add_post .hide{
    display:none;
}
#add_post .meta-image{
    max-width:340px;
    margin:18px 0 18px 0;
    display: block;
    padding:5px;
    border: 1px solid #ccc; 
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    background-color: #fff;
}
#add_post #place_image1_upload{
    float: left;
    width: 340px;
    margin-right: 10px;
}
#add_post .row select{
    margin-bottom: 15px;
}
.ui-autocomplete-loading{
    background:url("images/indicator.gif") no-repeat 73% 50%;
    min-height:16px;
    min-width:16px;
}
/*==============================================================*/
/* =Login Form & Register Account*/
/*==============================================================*/
#loginform{
    float: left;
    margin-right: 10px;
}
#loginform .row input[type="text"],
#loginform .row input[type="password"],
#register .row input[type="password"],
#register .row input[type="email"],
#register .row input[type="text"]{
    width:288px; 
    height: 30px;
    padding-left: 5px;
    border:1px solid #e9e9e9;
    -moz-box-shadow: inset 0 0 9px -2px #dbdad6;
    -webkit-box-shadow: inset 0 0 9px -2px #dbdad6;
    box-shadow: inset 0 0 9px -2px #dbdad6;
    margin-bottom: 10px;
}
#loginform .row input[type="text"]:focus,
#loginform .row input[type="password"]:focus,
#register .row input[type="password"]:focus,
#register .row input[type="text"]:focus{
    -moz-box-shadow: inset 0 0 9px -2px #20a0c5;
    -webkit-box-shadow: inset 0 0 9px -2px #20a0c5;
    box-shadow: inset 0 0 9px -2px #20a0c5;
}
#register{
    float: right;
}
#loginform input[type="submit"]{
    background: url('../images/btn-login.png') no-repeat;
    width: 62px;
    height: 36px;
    border: none;
    color:#fff;
    font-size: 13px;
    font-weight: bold;
}
#register input[type="submit"]{
    background: url('../images/btn-register.png') no-repeat;
    width: 83px;
    height: 35px;
    border: none;
    color:#fff;
    font-size: 13px;
    font-weight: bold;
}
.form_tag{
    background: url('../images/form-tag.png') repeat-x;
    height: 37px;
    color: #de6120;
    font-size: 17px;
    padding: 5px 0 0 5px;
}

#register .description{
    font-size: 10px;
    color: #999999;
    margin-bottom: 5px;
    display: block;
}

#payments{
    list-style-type: none;
}
/*==============================================================*/
/* Categories */
/*==============================================================*/
#categories{
    padding-top: 30px;
}
#categories .catcol ul {
    list-style-type: none;
    margin-bottom: 15px;
}
#categories .catcol {
    width: 180px;
    display: inline;
    float: left;
    margin-right: 35px;
    margin-bottom: 20px;
}
#categories .catcol ul li.maincat {
    border-bottom:2px solid #336699;
    padding-bottom: 8px;
    margin-bottom: 20px;
    text-transform: capitalize;
    font-size: 22px;
    line-height: 28px;
}
#categories .catcol ul li.cat-item a {
    text-decoration: none;
    color: #3865a7;
}
#categories .catcol ul li.cat-item a:hover{
    color: #357eeb;
}
#categories .catcol ul li.cat-item {
    border-bottom: 1px solid #EFEFEF;
    line-height: 20px;
    padding: 2px 0;
}
#categories .catcol ul li {
    line-height: 20px;
    text-shadow: 0 1px 0 #FFF;
}
#categories .catcol ul ul {
    list-style-type: none;
    margin: 0 0 -10px -12px;    
}
#categories .catcol ul ul li {
    border-bottom:1px solid #EFEFEF;
    padding:10px 0 !important;
}
#categories .catcol ul ul li a {
    margin-left: 8px;
    font-size: 11px;
}
/*=======================================================*/
/* Jcrousel Styles*/
/*=======================================================*/

#slider_wrapper{
    margin-top:30px;
    display: block;
    margin-bottom: 20px;
} 
#slider_wrapper .jcarousel-direction-rtl {
    direction: rtl;
}
#slider_wrapper li.list.first{
    margin-left: 0;
}
#slider_wrapper #crousel_wrap{
    overflow: hidden;
}
#slider_wrapper #cc_carousel{
    list-style-type: none;
    max-height: 90px;
    overflow: hidden;
}
#slider_wrapper li{
    display: inline-block;
    margin-bottom: 30px;
}
#slider_wrapper li img {
    height: 68px;
    width: 68px;
    box-shadow: 0 1px 5px rgba(0, 0, 0, .25); 
    -moz-box-shadow: 0 1px 5px rgba(0, 0, 0, .25);  
    -webkit-box-shadow: 0 1px 5px rgba(0, 0, 0, .25);
    border-radius: 4px; 
    -moz-border-radius: 4px; 
    -webkit-border-radius: 4px; 
    background-position: 0 100%;
    background-repeat: repeat-x;
    background-color: #FFFFFF;
    border: 1px solid #CCCCCC; 
    padding: 3px;
    margin-right:21px;
}
#cc_carousel .jcarousel-container-horizontal {
    width: 950px;
}
.jcarousel-clip{
    overflow: hidden; 
}

/**
 *  Horizontal Buttons
*/
#slider_wrapper .jcarousel-next-horizontal {
    position: absolute;
    top: 28px;
    right: -30px;
    cursor: pointer;
    background: url('../images/slider-btn.png') no-repeat -23px 0;
    width: 22px;
    height: 23px;
}
#slider_wrapper .jcarousel-next-horizontal:hover {
    background: url('../images/slider-btn.png') no-repeat -72px 0;
}
#slider_wrapper .jcarousel-prev-horizontal {
    position: absolute;
    top: 28px;
    left: -30px;
    width: 32px;
    height: 32px;
    cursor: pointer;
    background: url('../images/slider-btn.png') no-repeat 0 0;
    width: 22px;
    height: 23px;
}
#slider_wrapper .jcarousel-prev-horizontal:hover{
    background: url('../images/slider-btn.png') no-repeat -48px 0;
}
/*==============================================================*/
/* Dashboard Style */
/*==============================================================*/
#dashboard .box-head {
    background: url(../images/grad-overlay-s.png) #393939;
    border-radius: 2px;
    max-height: 40px;
}
#dashboard .box-head:hover {
    background: url(../images/grad-overlay-s.png) #444;
}
#dashboard .box-head h2 {
    padding: 10px 10px;
    color: #ddd;
    font-size: 14px;
    font-weight: 600;
    text-shadow: 0 1px 0 #222;
    margin-bottom: 0;
}
#dashboard table{
    width:100%;
    border-left: 1px solid #ccc;
}
#dashboard table thead tr {
    background: url(../images/grad-overlay.png) #fafafa bottom repeat-x;    
    height: 30px; 
    border-right: 1px solid #ccc;
}
#dashboard table thead th {
    border-right: 1px solid #ccc;
    color: #292929;
    text-shadow: 0 1px 0 #fff;
    font-size: 12px; 
    padding: 8px 10px;
}

#dashboard table tbody {
    border-top: 1px solid #bbb;
    border-bottom: 1px solid #bbb;
}
#dashboard table tr.odd { background-color: #fff; }
#dashboard table tr.even { background-color: #f6f6f6; }
#dashboard table td { padding: 8px 10px; border-right: 1px solid #ccc; }
#dashboard table tbody tr:hover { background-color: #ddd; }
#dashboard table img{
    margin-bottom: 0;
}
#dashboard table tr.paginate{
    background-image: url(../images/grad-overlay.png);
    height: 30px; 
    border-top: 1px solid #ccc;
}
#dashboard .comment_date{
    font-size: 10px;
}
#dashboard .post_count{
    background-image: url(../images/bubble_bg.gif);
    height: 1.3em;
    line-height: 1.1em;
    display: block;
    text-decoration: none;
    padding: 0 0 6px;
    cursor: pointer;
    background-position: center -80px;
    background-repeat: no-repeat;
    float: right;
}
#dashboard .post_count:hover {
    background-position: center -3px;
}
#dashboard .comment_count{
    background-color: #ccc;
    font-size: 10px;
    font-weight: bold;
    height: 1.4em;
    line-height: 1.4em;
    min-width: .7em;
    padding: 0 6px;
    display: inline-block;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    color: #fff;
}
#dashboard .post_count:hover .comment_count{
    background-color:#d54e21;
}
.sidebar .sidebar_dashboard{
    border: 1px solid #d5d5d5;
    padding: 10px;
    margin-bottom: 20px;
}
.sidebar .sidebar_dashboard .head{
    border-bottom: 1px dashed #b9b9b9;
    padding-bottom: 5px;
}
.sidebar .sidebar_dashboard ul{
    list-style-type: none;
}
.sidebar .sidebar_dashboard ul li{
    border-bottom: 1px dashed #b9b9b9;
    padding-bottom: 8px;
    margin-bottom: 8px;
}
.sidebar .sidebar_dashboard .author-meta{
    border-bottom: 1px dashed #b9b9b9;
    padding-bottom: 10px;
    margin-bottom: 10px;
}
.sidebar .sidebar_dashboard .author-meta img{
    float: left;
    padding: 2px;
    border: 1px solid #b9b9b9;
    margin-right: 10px;
}
.sidebar .sidebar_dashboard .author-meta h4{
    margin-bottom: 0;
}
.sidebar .sidebar_dashboard .author-meta small{
    font-size:12px;
}
/*==============================================================*/
/* Error Style*/
/*==============================================================*/
#error{
    list-style-type: none;
}
/*==============================================================*/
/* Special Classes */
/*==============================================================*/
.error{
    color: #ff0000;
    display: block;
    margin-bottom: 10px;
}
.show_captcha{
    display:block; 
    background:#000;
    color: #fff;
    margin-top: 10px;
    width: 40px; 
    text-align: center;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    margin-bottom: 20px;
}
.notification{
    background-color:#fffbcc;
    border: 1px solid #e6db55;
    padding: 5px 10px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
}
.error::-webkit-input-placeholder {
    color:    #ff0000;
}
.error:-moz-placeholder {
    color:    #ff0000;
}
.error::-moz-placeholder {
    color:    #ff0000;
}
.error:-ms-input-placeholder {
    color:    #ff0000;
}
/*==============================================================*/
/* Notification Message Boxes  */
/*==============================================================*/
.info, .success, .warning, .errors {
    border: 1px solid;
    margin: 15px 0px;
    padding:15px 20px 15px 55px;
    width: 500px;	
    font: bold 12px verdana;
    -moz-box-shadow: 0 0 5px #888;
    -webkit-box-shadow: 0 0 5px#888;
    box-shadow: 0 0 5px #888;
    text-shadow: 2px 2px 2px #ccc;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    border-radius: 15px;
}
.info {
    color: #00529B;
    background: #BDE5F8 url('../images/icon-info.png') no-repeat 10px center;
}
.success {
    color: #4F8A10;
    background: #DFF2BF url('../images/check.png') no-repeat 10px center;
}
.warning {
    color: #9F6000;
    background: #FEEFB3 url('../images/icon-warning.png') no-repeat 10px center;
}
.errors {
    color: #D8000C;
    background: #FFBABA url('../images/error.png') no-repeat 10px center;
}
/*==============================================================*/
/* Pagination */
/*==============================================================*/
.paginate {
    float:right;
    margin: 0;
    padding: 0;
    list-style: none;
    margin-bottom: 20px;
}

.paginate li {
    float: left;
    margin-right: 10px;
}

.paginate li a {
    display: block;
    text-decoration: none;
    color: #717171;
    font: bold 11px Arial, sans-serif;
    text-shadow: 0px 1px white;
    padding: 5px 8px;

    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;

    -webkit-box-shadow: 0px 1px 3px 0px rgba(0,0,0,0.35);
    -moz-box-shadow: 0px 1px 3px 0px rgba(0,0,0,0.35);
    box-shadow: 0px 1px 3px 0px rgba(0,0,0,0.35);
    background: #f9f9f9;

    background: -webkit-linear-gradient(top, #f9f9f9 0%, #e8e8e8 100%);
    background: -moz-linear-gradient(top, #f9f9f9 0%, #e8e8e8 100%);
    background: -o-linear-gradient(top, #f9f9f9 0%, #e8e8e8 100%);
    background: -ms-linear-gradient(top, #f9f9f9 0%, #e8e8e8 100%);
    background: linear-gradient(top, #f9f9f9 0%, #e8e8e8 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f9f9f9', endColorstr='#e8e8e8',GradientType=0 );
}

.paginate li a.current {
    color: white;
    text-shadow: 0px 1px #3f789f;

    -webkit-box-shadow: 0px 1px 2px 0px rgba(0,0,0,0.8);
    -moz-box-shadow: 0px 1px 2px 0px rgba(0,0,0,0.8);
    box-shadow: 0px 1px 2px 0px rgba(0,0,0,0.8);
    background: #7cb9e5;

    background: -webkit-linear-gradient(top, #7cb9e5 0%, #57a1d8 100%);
    background: -moz-linear-gradient(top, #7cb9e5 0%, #57a1d8 100%);
    background: -o-linear-gradient(top, #7cb9e5 0%, #57a1d8 100%);
    background: -ms-linear-gradient(top, #7cb9e5 0%, #57a1d8 100%);
    background: linear-gradient(top, #7cb9e5 0%, #57a1d8 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#7cb9e5', endColorstr='#57a1d8',GradientType=0 );
}

.paginate li a:hover {
    -webkit-box-shadow: 0px 1px 3px 0px rgba(0,0,0,0.55);
    -moz-box-shadow: 0px 1px 3px 0px rgba(0,0,0,0.55);
    box-shadow: 0px 1px 3px 0px rgba(0,0,0,0.55);
    background: #fff;

    background: -webkit-linear-gradient(top, #fff 0%, #e8e8e8 100%);
    background: -moz-linear-gradient(top, #fff 0%, #e8e8e8 100%);
    background: -o-linear-gradient(top, #fff 0%, #e8e8e8 100%);
    background: -ms-linear-gradient(top, #fff 0%, #e8e8e8 100%);
    background: linear-gradient(top, #fff 0%, #e8e8e8 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fff', endColorstr='#e8e8e8',GradientType=0 );
}

.paginate li a:active,#pagin li a.current:active {
    -webkit-box-shadow: inset 0px 1px 3px 0px rgba(0,0,0,0.5), 0px 1px 1px 0px rgba(255,255,255,1) !important;
    -moz-box-shadow: inset 0px 1px 3px 0px rgba(0,0,0,0.5), 0px 1px 1px 0px rgba(255,255,255,1) !important;
    box-shadow: inset 0px 1px 3px 0px rgba(0,0,0,0.5), 0px 1px 1px 0px rgba(255,255,255,1) !important;
}

.paginate li a.current:hover {
    -webkit-box-shadow: 0px 1px 2px 0px rgba(0,0,0,0.9);
    -moz-box-shadow: 0px 1px 2px 0px rgba(0,0,0,0.9);
    box-shadow: 0px 1px 2px 0px rgba(0,0,0,0.9);
    background: #99cefc;

    background: -webkit-linear-gradient(top, #99cefc 0%, #57a1d8 100%);
    background: -moz-linear-gradient(top, #99cefc 0%, #57a1d8 100%);
    background: -o-linear-gradient(top, #99cefc 0%, #57a1d8 100%);
    background: -ms-linear-gradient(top, #99cefc 0%, #57a1d8 100%);
    background: linear-gradient(top, #99cefc 0%, #57a1d8 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#99cefc', endColorstr='#57a1d8',GradientType=0 );
}
/*=======================================================*/
/* IE8 Placeholder */
/*=======================================================*/
/* fallback placeholder */
.placeholder {
    color: #bbb;
}
/* webkit placeholder */
::-webkit-input-placeholder {
    color: #bbb;
}
/* moz placeholder */
:-moz-placeholder {
    color: #bbb;
}
/*=======================================================*/
/* Responsive Dropdown Menu Style */
/*=======================================================*/
#mobile_menu {
    width: 100% !important;
    left: 0;
    padding: 0;
    background: #2372d0;
    top:30px !important;
    z-index: 9999px;
    display: none;
    overflow: hidden;
}
#mobile_menu ul{
    margin: 0;
    padding: 0;
}
.it_mobile_menu {
    position: absolute;
    top: 2px !important;
    left: 3px;
    z-index: 1000;
    display: none;
    text-align: left;
}
.it_mobile_menu li{    
    margin: 0;
    width: 100%;
    list-style-type: none; 
    float: none !important;
    display: block;
    background: #2372d0 url('../images/menu-border.png') bottom repeat-x !important;
}
.it_mobile_menu li:last-child{
    background-image: none !important;
}
.it_mobile_menu li:hover{
    background-color: #308eee !important;
}
.it_mobile_menu li a {
    text-align: left !important;
    font-size: 12px;
    text-decoration: none;
    text-transform: capitalize;
    margin: 0 !important;
    float: none !important;
}
.it_mobile_menu li:last-child a{
    border-bottom:none; 
    padding-bottom: 15px;
}
.it_mobile_menu ul {
    display: block !important;
    visibility: visible !important;
}
.it_mobile_menu ul li{
    display: block;
}
.it_mobile_menu ul li a{
    margin-left:12px !important; 
    padding-top: 12px !important;
    padding-bottom: 4px !important;
}
#mobile_menu ul li{
    width: 100%;
}
.mobile_nav {
    color: #fff;
    display: none;
    position: relative;
    font-size: 12px;
    text-transform: capitalize;
    width: 100%;    
    padding: 5px 0;
    padding-left: 15px;
}
.mobile_nav:hover{
    color: #fff;
}
.mobile_nav:before, 
.mobile_nav:after {
    position: absolute;
}

.mobile_nav > span {
    display: block;
    width: 100%;
    height: 16px;
    background: url(../images/menu-tip.png) right no-repeat;
    position: absolute;
    top: 0;
    right: 0;
}
/*=======================================================*/
/* Ad form */
/*=======================================================*/
#Add_post_form .children{
    margin-left: 17px;
    margin-bottom: 0;
}
#Add_post_form ul{
    list-style-type: none;
}
