<ul>
    {% if categories %}
        {% for category in categories %}
            <li><a href="{% url 'category_ads' category.slug category.id %}">{{ category.title }}</a></li>
        {% endfor %}
    {% else %}
        <li><strong>No categories to show</strong></li>
    {% endif %}                            
</ul>
