{% load staticfiles %}

<ul id="cc_carousel" class="jcarousel-skin-tango">
    {% if slider_adverts %}
        {% for s_advert in slider_adverts %}
            <li class="crousel_thumb" data-title="{{ s_advert.title }}" title="{{ s_advert.title }}">
                <a href="{% url 'view_advert' s_advert.slug s_advert.id %}">
                    {% with s_advert.images.all|first as image %}
                      {% if image %}
                      <img src="/media/{{ image.image }}" class="postimg" alt="Post Image"/>
                      {% else %}
                      <img src="{% static 'images/NIA-thumb.jpg' %}" class="postimg" alt="Post Image"/>
                      {% endif %} 
                    {% endwith %}                    
                </a>
            </li>
        {% endfor %}
    {% else %}
        <li></li>
    {% endif %}
</ul>	
